<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Checkout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="Usuario/fragments/navbar :: nav_bar"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="Usuario/fragments/sidebar :: side_bar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Checkout</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">Home</li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Checkout</a></li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <div id="checkout-nav-pills-wizard" class="twitter-bs-wizard">
                                    <div class="tab-pane" id="billing-info">
                                        <h5 class="card-title">Información de facturación</h5>
                                        <p class="card-title-desc">Por favor, ingrese sus detalles de facturación. Esta información se utilizará para procesar su pedido y generar su factura</p>
                                        <div>

                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-4">
                                                        <label class="form-label" for="billing-name">Nombre</label>
                                                        <span type="text" class="form-control" id="billing-name" th:text="${usuario.nombre}"></span>
                                                        <!--<input type="text" class="form-control" id="billing-name" placeholder="Enter name"> -->
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-4">
                                                        <label class="form-label" for="billing-fullname">Apellido</label>
                                                        <span type="text" class="form-control" id="billing-fullname" th:text="${usuario.apellido}"></span>
                                                        <!--<input type="text" class="form-control" id="billing-fullname" placeholder="Enter name">-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-lg-4 mt-2">
                                                    <div class="mb-4">
                                                        <label class="form-label" for="billing-email-address">Correo electrónico</label>
                                                        <span type="email" class="form-control" id="billing-email-address" th:text="${usuario.correo}"></span>
                                                       <!-- <input type="email" class="form-control" id="billing-email-address" placeholder="Enter email">-->
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 mt-2">
                                                    <div class="mb-4">
                                                        <label class="form-label" for="billing-phone">Teléfono</label>
                                                        <span type="text" class="form-control" id="billing-phone" th:text="${usuario.telefono}"></span>
                                                       <!-- <input type="text" class="form-control" id="billing-phone" placeholder="Enter Phone no.">-->
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 mt-2">
                                                    <div class="mb-4">
                                                        <label class="form-label" for="billing-dni">Documento de identidad</label>
                                                        <span type="text" class="form-control" id="billing-dni" th:text="${usuario.dni}"></span>
                                                       <!-- <input type="text" class="form-control" id="billing-dni" placeholder="Enter Phone no.">-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 mt-2">
                                                    <div class="mb-4 mb-lg-0">
                                                        <label class="form-label">Distrito</label>
                                                        <span type="text" class="form-control" name="billingDistrict" th:text="${usuario.distritoIddistrito.nombre}"></span>
                                                       <!-- <input type="text" class="form-control" name="billingDistrict" placeholder="Ingresar Distrito">-->
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mt-2">
                                                    <div class="mb-4">
                                                        <label class="form-label" for="billing-address">Dirección</label>
                                                        <span type="text" class="form-control" id="billing-address" name="billingAddress" th:text="${usuario.direccion}"></span>
                                                       <!-- <input type="text" class="form-control" id="billing-address" name="billingAddress" placeholder="Enter full address">-->
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="tab-pane active" id="payment-info">
                                        <h5 class="card-title">Información de pago</h5>
                                        <p class="card-title-desc">Por favor, seleccione su método de pago preferido y complete los detalles a continuación. Asegúrese de que toda la información sea correcta antes de continuar.</p>

                                        <form method="post" th:action="@{'/usuario/savePayment'}">
                                            <h5 class="font-size-14">Método de pago:</h5>
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-6">
                                                    <label class="form-label card-radio-label mb-3">
                                                        <input type="radio" name="metodo" value="American Express" class="card-radio-input">
                                                        <span class="card-radio">
                                                            <i class="ri-bank-card-fill font-size-24 align-middle me-2"></i>
                                                            <span>American Express</span>
                                                        </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-6">
                                                        <label class="form-label card-radio-label mb-3">
                                                            <input type="radio" name="metodo" value="Visa" class="card-radio-input">
                                                            <span class="card-radio">
                                                                <i class="ri-visa-fill font-size-24 align-middle me-2"></i>
                                                                <span>Visa</span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-6">
                                                        <label class="form-label card-radio-label mb-3">
                                                            <input type="radio" name="metodo" value="MasterCard" class="card-radio-input" checked>
                                                            <span class="card-radio">
                                                                <i class="ri-mastercard-fill font-size-24 align-middle me-2"></i>
                                                            <span>MasterCard</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                            <h5 class="my-3 font-size-14">Para pagar con tarjeta</h5>
                                            <div class="p-4 border">
                                                <div class="mb-3">
                                                    <label class="form-label" for="nombreTarjeta">Nombre de la tarjeta</label>
                                                    <input type="text" class="form-control" id="nombreTarjeta" name="nombreTarjeta" placeholder="Nombre en la tarjeta">
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div class="mb-3 mb-lg-0">
                                                            <label class="form-label" for="numeroTarjeta">Número de tarjeta</label>
                                                            <input type="text" class="form-control" id="numeroTarjeta" name="numeroTarjeta" placeholder="0000 0000 0000 0000">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div class="mb-3 mb-lg-0">
                                                            <label class="form-label" for="fechaTarjeta">Fecha de vencimiento</label>
                                                            <input type="text" class="form-control" id="fechaTarjeta" name="fechaTarjeta" placeholder="MM/YY">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div class="mb-3 mb-lg-0">
                                                            <label class="form-label" for="codigoCVV">Código CVV</label>
                                                            <input type="text" class="form-control" id="codigoCVV" name="codigoCVV" placeholder="Ingrese código CVV">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="monto">Monto</label>
                                                    <input type="text" class="form-control" id="monto" name="monto" placeholder="Monto a pagar">
                                                </div>
                                            </div>

                                            <div class="mt-4 text-end">
                                                <button type="submit" class="btn btn-success waves-effect waves-light">
                                                    Finalizar
                                                </button>
                                                <!-- Modal -->
                                                <div class="col-sm-6 col-md-4 col-xl-3">
                                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">¡Comprá exitosa!</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>¡Gracias por tu compra! Su pedido ha sido recibido y está en espera para ser procesado. Si usted tiene alguna pregunta, no dudes en contactar a su Agente de compra asignado. ¡Que disfrutes de su compra!</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a href="/usuario/misPedidos" type="button" class="btn btn-primary waves-effect waves-light">Ver boleta</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card checkout-order-summary">
                            <div class="card-body">
                                <div class="p-3 bg-light mb-4">
                                    <h5 class="font-size-14 mb-0">Resumen <span class="float-end ms-2"></span></h5>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0 table-nowrap">
                                        <thead>
                                        <tr>
                                            <th class="border-top-0" style="width: 110px;" scope="col">Producto</th>
                                            <th class="border-top-0" scope="col">Descripción</th>
                                            <th class="border-top-0" scope="col">Precio</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="producto : ${carrito}">
                                            <th scope="row" th:text="${producto.productoEnZona.productoIdproducto.codigo}"></th>
                                            <td>
                                                <h5 class="font-size-14 text-truncate"><a href="/usuario/productoDetalles" class="text-reset" th:text="${producto.productoEnZona.productoIdproducto.nombre}"></a></h5>
                                                <p class="text-muted mb-0" th:text=" 'S/. ' + ${producto.productoEnZona.productoIdproducto.precio} + ' x ' + ${producto.cantidad}"></p>
                                            </td>
                                            <td th:text="${producto.costo}"></td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <h6 class="m-0 text-end">Sub Total:</h6>
                                            </td>
                                            <td th:text="'S/. ' + ${costoSubTotal}"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="bg-primary-subtle  p-3 rounded">
                                                    <h5 class="font-size-14 text-primary mb-0"><i class="fas fa-shipping-fast me-2"></i> Envío <span class="float-end" th:text="'S/. ' + ${costoEnvio}"></span></h5>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h6 class="m-0 text-end">Total:</h6>
                                            </td>
                                            <td th:text="'S/. ' + (${costoEnvio} + ${costoSubTotal})"></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal
                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">¡Comprá exitosa!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¡Gracias por tu compra! Su pedido ha sido recibido y está en espera para ser procesado. Si usted tiene alguna pregunta, no dudes en contactar a su Agente de compra asignado. ¡Que disfrutes de su compra!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuario/misPedidos" type="button" class="btn btn-primary waves-effect waves-light">Ver boleta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © TRADO.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->



<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>

<!-- twitter-bootstrap-wizard js -->
<script th:src="@{../libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js}"></script>

<script th:src="@{../libs/twitter-bootstrap-wizard/prettify.js}"></script>
<!-- ecommerce-checkout init -->
<script th:src="@{../js/pages/ecommerce-checkout.init.js}"></script>
<!-- End JAVASCRIPT BASE-->
</body>

</html>