<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->

    <link th:href="@{../libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css}" rel="stylesheet" />
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="~{Usuario/fragments/navbar :: nav_bar}"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="~{Usuario/fragments/sidebar :: side_bar}"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Carrito de compras</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">Inicio</li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Carrito de compras</a></li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <!-- INICIO -->
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0 table-nowrap">
                                        <thead class="bg-light">
                                        <tr>
                                            <th >Código</th>
                                            <th style="width: 120px">Producto</th>
                                            <th>Nombre</th>
                                            <th>Categoría, Subcategoría</th>
                                            <th>Precio Unit.</th>
                                            <th>Cantidad</th>
                                            <th>Total</th>
                                            <th class="text-center">Acción</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="producto : ${carrito}">
                                            <td th:text="${producto.productoEnZona.productoIdproducto.codigo}"></td>
                                            <td>
                                                <img th:src="@{../images/product/img-1.png}" alt="product-img"
                                                     title="product-img" class="avatar-md" />
                                            </td>
                                            <td>
                                                <h5 class="font-size-14 text-truncate"><a href="#" class="text-reset" th:text="${producto.productoEnZona.productoIdproducto.nombre}"></a></h5>
                                                <p class="mb-0">Proveedor : <span class="fw-medium" th:text="${producto.productoEnZona.productoIdproducto.proveedorIdproveedor.tienda}"></span></p>
                                            </td>
                                            <td th:text="${producto.productoEnZona.productoIdproducto.subcategoriaIdsubcategoria.categoriaIdcategoria.nombre} + ', ' + ${producto.productoEnZona.productoIdproducto.subcategoriaIdsubcategoria.nombre}"></td>

                                            <td th:text="'S/. '+ ${producto.productoEnZona.productoIdproducto.precio}"></td>

                                            <td>
                                                <div style="width: 120px;" class="product-cart-touchspin">
                                                    <input data-bs-toggle="touchspin" type="text" th:value="${producto.cantidad}">
                                                </div>
                                            </td>
                                            <td th:text="'S/. ' + (${producto.productoEnZona.productoIdproducto.precio} * ${producto.cantidad})"></td>
                                            <td style="width: 90px;" class="text-center">
                                                <button type="button" class="btn btn-danger waves-effect waves-light btn-sm" data-bs-toggle="modal" th:data-bs-target="'#deleteProductModal' + ${producto.productoEnZona.productoIdproducto.id}">
                                                    <i class="ri-indeterminate-circle-fill "></i>
                                                </button>
                                            </td>
                                            <!-- Modal -->
                                            <div class="modal fade" th:id="'deleteProductModal' + ${producto.productoEnZona.productoIdproducto.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteProductLabel">Eliminar Producto</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>¿Está seguro de que desea eliminar <strong th:text="${producto.productoEnZona.productoIdproducto.codigo}"></strong> de su carrito de compras?</p>
                                                        </div>
                                                        <form th:action="@{/usuario/eliminarProducto}" method="post">
                                                            <input type="hidden" name="productoId" th:value="${producto.productoEnZona.productoIdproducto.id}" />
                                                            <input type="hidden" name="usuarioId" th:value="${usuario.id}" />
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                                                <button type="submit" class="btn btn-success">Sí</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        <tr class="bg-light text-end">

                                            <th scope="row" colspan="7">
                                                Sub Total :
                                            </th>

                                            <td th:text="'S/. ' + ${costoTotal}"></td>
                                        </tr>
                                        <tr class="bg-light text-end">

                                            <th scope="row" colspan="7">
                                                Costo de envío :
                                            </th>

                                            <td th:text="'S/. ' +${costoEnvio}"></td>
                                        </tr>
                                        <tr class="bg-light text-end">

                                            <th scope="row" colspan="7">
                                                Total :
                                            </th>

                                            <td th:text="'S/. ' + (${costoTotal} + ${costoEnvio})"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="mt-3 text-end">
                                        <a th:href="@{/usuario/checkout-info}" type="button" class="btn btn-primary" >Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div> <!-- container-fluid -->
        </div>



        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © TRADO.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->

<!-- Bootrstrap touchspin -->
<script th:src="@{../libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>

<script th:src="@{../js/pages/ecommerce-cart.init.js}"></script>
</body>

</html>