<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <title>Productos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS BASE -->
  <meta th:replace="~{Common/cssBase :: css_Base}">
  <!-- End CSS BASE -->

  <!-- ION Slider -->
  <link th:href="@{../libs/ion-rangeslider/css/ion.rangeSlider.min.css}" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" th:href="@{../images/favicon.ico}">

</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

  <!-- ========== NavBar Start ========== -->
  <header th:replace="~{Usuario/fragments/navbar :: nav_bar}"></header>
  <!-- Navbar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div th:replace="~{Usuario/fragments/sidebar :: side_bar}"></div>
  <!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">Productos</h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">

                  <li class="breadcrumb-item active ">Productos</li>
                  <li class="breadcrumb-item "><a href="javascript: void(0);">Hombre</a></li>
                </ol>
              </div>

            </div>
          </div>
        </div>
        <!-- end page title -->


        <!-- Inicio -->

        <div class="row">
          <div class="col-xl-3 col-lg-4">
            <div class="card">
              <div class="card-header bg-transparent border-bottom">
                <h5 class="mb-0 fw-bolder ">Filtros</h5>
              </div>
              <!--Inicio de filtro-->
              <div class="custom-accordion">
                <form action="/usuario/categoriaHombreFilter" method="GET" id="filterForm">
                  <div class="card-body border-top">
                    <div>
                      <h5 class="font-size-14 mb-0">
                        <a href="#collapseExample1" class="text-reset d-block" data-bs-toggle="collapse">Categorías <i class="mdi mdi-plus float-end accor-plus-icon"></i></a>
                      </h5>
                      <div class="collapse" id="collapseExample1">
                        <div class="mt-4">
                          <div th:each="categoria : ${categoriasList}" class="form-check mt-2">
                            <input type="checkbox"
                                   th:id="'categoria' + ${categoria.id}"
                                   th:name="'categoria'"
                                   th:value="${categoria.id}"
                                   class="form-check-input"
                                   th:checked="${param.categoria != null && param.categoria.contains(categoria.id.toString())}" />


                            <label class="form-check-label"
                                   th:for="'categoria' + ${categoria.id}"
                                   th:text="${categoria.nombre}">Categoria</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="card-body border-top">
                    <div>
                      <h5 class="font-size-14 mb-0">
                        <a href="#collapseExample5" class="text-reset d-block" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample5">
                          Talla <i class="mdi mdi-plus float-end accor-plus-icon"></i>
                        </a>
                      </h5>
                      <div class="collapse" id="collapseExample5">
                        <div class="mt-4">
                          <div th:each="talla, iterStat : ${tallasList}" class="form-check mt-2">
                            <input type="checkbox"
                                   th:id="'talla' + ${iterStat}"
                                   name="talla"
                                   class="form-check-input"
                                   th:value="${talla.toLowerCase()}"
                                   th:checked="${param.talla != null && param.talla.contains(talla.toLowerCase())}"/>
                            <label class="form-check-label" th:for="'talla' + ${iterStat}" th:text="${talla}"></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="card-body border-top">
                    <div>
                      <h5 class="font-size-14 mb-0">
                        <a href="#collapseExample7" class="text-reset d-block" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample5">
                          Marca <i class="mdi mdi-plus float-end accor-plus-icon"></i>
                        </a>
                      </h5>
                      <div class="collapse" id="collapseExample7">
                        <div class="mt-4">
                          <div th:each="marca, iterStat : ${marcaList}" class="form-check mt-2">
                            <input type="checkbox"
                                   th:id="'marca' + ${iterStat}"
                                   name="marca"
                                   class="form-check-input"
                                   th:value="${marca.toLowerCase()}"
                                   th:checked="${param.marca != null && param.marca.contains(marca.toLowerCase())}"/>
                            <label class="form-check-label" th:for="'marca' + ${iterStat}" th:text="${marca}"></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-body border-top">
                    <div>
                      <h5 class="font-size-14 mb-0">
                        <a href="#collapseExample6" class="text-reset d-block" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample5">
                          Color <i class="mdi mdi-plus float-end accor-plus-icon"></i>
                        </a>
                      </h5>
                      <div class="collapse" id="collapseExample6">
                        <div class="mt-4">
                          <div th:each="color, iterStat : ${coloresList}" class="form-check mt-2">
                            <input type="checkbox"
                                   th:id="'color' + ${iterStat}"
                                   name="color"
                                   class="form-check-input"
                                   th:value="${color.toLowerCase()}"
                                   th:checked="${param.color != null && param.color.contains(color.toLowerCase())}"/>
                            <label class="form-check-label" th:for="'color' + ${iterStat}" th:text="${color}"></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-body border-top">
                    <div>
                      <h5 class="font-size-14 mb-0">
                        <a href="#collapseExample3" class="text-reset d-block" data-bs-toggle="collapse">Precio <i class="mdi mdi-plus float-end accor-plus-icon"></i></a>
                      </h5>
                      <div class="collapse" id="collapseExample3">
                        <div class="mt-4">
                          <div class="form-group">
                            <label for="precioMin" class="form-label">Precio Mínimo</label>
                            <input type="number" id="precioMin" name="precioMin" class="form-control" placeholder="Ingrese precio mínimo" min="0">
                          </div>
                          <hr class="opacity-0">
                          <div class="form-group">
                            <label for="precioMax" class="form-label">Precio Máximo</label>
                            <input type="number" id="precioMax" name="precioMax" class="form-control" placeholder="Ingrese precio máximo" min="0">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--
                                    <div class="card-body border-top">
                                      <div>
                                        <h5 class="font-size-14 mb-0">
                                          <a href="#collapseExample4" class="collapsed text-reset d-block" data-bs-toggle="collapse">Valoración del cliente <i class="mdi mdi-minus float-end accor-plus-icon"></i></a>
                                        </h5>
                                        <div class="collapse " id="collapseExample4">
                                          <div class="mt-4">
                                            <div class="form-check mt-2">
                                              <input type="checkbox" id="productratingRadio1" name="valoracion" class="form-check-input" value="4mas">
                                              <label class="form-check-label" for="productratingRadio1">4 <i class="mdi mdi-star text-warning"></i> y superior</label>
                                            </div>
                                            <div class="form-check mt-2">
                                              <input type="checkbox" id="productratingRadio2" name="valoracion" class="form-check-input" value="3mas">
                                              <label class="form-check-label" for="productratingRadio2">3 <i class="mdi mdi-star text-warning"></i> y superior</label>
                                            </div>
                                            <div class="form-check mt-2">
                                              <input type="checkbox" id="productratingRadio3" name="valoracion" class="form-check-input" value="2mas">
                                              <label class="form-check-label" for="productratingRadio3">2 <i class="mdi mdi-star text-warning"></i> y superior</label>
                                            </div>
                                            <div class="form-check mt-2">
                                              <input type="checkbox" id="productratingRadio4" name="valoracion" class="form-check-input" value="1mas">
                                              <label class="form-check-label" for="productratingRadio4">1 <i class="mdi mdi-star text-warning"></i></label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    -->

                  <div class="text-center">
                    <a href="/usuario/categoriaHombreFilter" class="btn btn-secondary mt-3 me-2">Limpiar</a>
                    <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
                  </div>
                  <hr class="opacity-0">
                </form>
              </div>
              <!--Fin del filtro-->
            </div>
          </div>


          <div class="col-lg-9">
            <div class="card">
              <div class="card-body">
                <div>
                  <div class="row">
                    <div class="col-md-6">
                      <h3 class="fw-bold">Moda masculina</h3>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                      <form class="d-flex" action="/usuario/categoriaHombreSearch" method="GET"> <!-- El action envía la búsqueda a la ruta /buscar -->
                        <div class="search-box me-2">
                          <div class="position-relative">
                            <input type="text" name="query" class="form-control rounded" placeholder="Buscar..."> <!-- "query" como nombre del campo de búsqueda -->
                            <i class="mdi mdi-magnify search-icon"></i>
                          </div>
                        </div>
                        <div class="form-inline me-2">
                          <button type="submit" class="btn btn-primary waves-effect waves-light">Buscar</button> <!-- Botón envía el formulario -->
                        </div>
                      </form>
                    </div>

                  </div>
                  <hr class="opacity-0">


<!--Inicio del loop-->
                  <div class="row g-0">
                    <div th:if="${productList == null or #lists.isEmpty(productList)}" class="alert alert-warning text-center">
                      No hay productos disponibles
                    </div>
                    <div th:each="product, iterStat : ${productList}" class="col-xl-4 col-sm-6">
                      <div class="card product-box">
                        <a th:href="@{/usuario/productoDetalles/{id}(id=${product.id})}" class="text-decoration-none">
                        <div class="product-img">
                            <div class="product-ribbon badge bg-warning">
                              <!-- Mostrar el código de producto -->
                              <span th:text="${product.codigo}"></span>
                            </div>
                          </div>
                          <div th:if="${product.id >= 1 and product.id <= 26}">
                            <img th:src="@{|../images/product/product${product.id}.jpg|}" alt="img-${id}"
                                 class="img-fluid mx-auto d-block" style="width: 250px; height: 250px; object-fit: cover;">
                          </div> <div class="text-center mt-3">
                            <p class="font-size-12 mb-1 text-primary">
                              <span th:text="${product.subcategoriaIdsubcategoria.nombre}">Categoría, Subcategoría</span>
                            </p>
                            <h5 class="font-size-15">
                              <a th:text="${product.nombre}" class="text-reset">Product Name</a>
                            </h5>
                            <div class="d-inline-flex">
                              <div class="text-muted me-2" style="font-size: 12px;">
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star"></span>
                              </div>
                              <!--  <div class="text-muted" style="font-size: 12px;">

                                  <span th:text="${product.rating}">4.1</span> ( <span th:text="${product.reviews}">132</span> )
                              </div>-->
                            </div>
                            <h5 class="mt-2" style="font-size: 14px;">
                              S/ <span th:text="${product.precio}">100</span>
                              <span style="font-size: 12px; color: #888;">por cada 10 unidades</span>
                            </h5>
                          <p class="mt-2" style="font-size: 14px;">Costo por unidad: S/<span th:text="${product.precio*1.5}"></span></p>  </div>
                          <div class="provider-info d-flex align-items-center justify-content-center">
                            <img th:src="@{../images/product/iconoProvedor.png}" alt="Proveedor Icono" class="rounded-circle me-2" style="width: 30px; height: 30px;">

                            <span th:text="${product.proveedorIdproveedor.tienda}" class="provider-name">Nombre del proveedor</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!--FIN del loop-->
                  <div class="row mt-4">
                    <div class="col-sm-6">
                      <div>
                        <p class="mb-sm-0 mt-2">Page <span class="fw-bold">1</span> Of <span class="fw-bold">1</span></p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="float-sm-end">
                        <ul class="pagination pagination-rounded mb-sm-0">
                          <!--
                          <li class="page-item disabled">
                              <a  class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                          </li>
                          -->
                          <li class="page-item active">
                            <a  class="page-link">1</a>
                          </li>

                          <li class="page-item">
                            <a  class="page-link"><i class="mdi mdi-chevron-end"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- container-fluid -->
    </div>
    <script>
      document.getElementById('filterForm').onsubmit = function(event) {
        event.preventDefault(); // Evitar el envío inmediato del formulario

        const form = this;
        const formData = new FormData(form);
        const params = new URLSearchParams();

        // Agregar solo las categorías seleccionadas
        const categorias = formData.getAll('categoria');
        categorias.forEach(categoria => {
          params.append('categoria', categoria);
        });

        // Agregar solo los materiales seleccionados
        const tallas = formData.getAll('talla');
        tallas.forEach(talla => {
          params.append('talla', talla);
        });
        const marcas = formData.getAll('marca');
        marcas.forEach(marca => {
          params.append('marca', marca);
        });
        const colores = formData.getAll('color');
        colores.forEach(color => {
          params.append('color', color);
        });

        // Agregar precio mínimo si no está vacío
        const precioMin = formData.get('precioMin').trim();
        if (precioMin) {
          params.append('precioMin', precioMin);
        }

        // Agregar precio máximo si no está vacío
        const precioMax = formData.get('precioMax').trim();
        if (precioMax) {
          params.append('precioMax', precioMax);
        }

        // Redirigir a la URL construida
        const queryString = params.toString();
        const actionUrl = form.action + (queryString ? '?' + queryString : '');

        // Realiza el redireccionamiento
        window.location.href = actionUrl;
      };
    </script>

    <!-- End Page-content -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <script>document.write(new Date().getFullYear())</script> © TRADO.
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>

<!-- Ion Range Slider-->
<script th:src="@{../libs/ion-rangeslider/js/ion.rangeSlider.min.js}"></script>

<!-- init js -->
<script th:src="@{../js/pages/product-filter-range.init.js}"></script>
<!-- End JAVASCRIPT BASE-->
</body>

</html>