<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
    <style>
        .carousel-inner img {
            max-height: 300px; /* Ajusta la altura máxima */
            object-fit: cover; /* Mantiene las proporciones de la imagen */
        }


        .banner-title {
            font-size: 3em; /* Tamaño de letra grande para el título */
            font-weight: bold;
            color: #333; /* Color del título */
        }

        .banner-subtitle {
            font-size: 1.5em; /* Tamaño de letra más grande para el subtítulo */
            color: #666; /* Color del subtítulo */
        }

        .card {
            border: none; /* Sin borde en la tarjeta */
            background: none; /* Fondo transparente */
        }

        /* Estilos para el contenedor del chatbot */
        .chatbot-container {
            position: fixed;
            bottom: 0;
            right: 20px;
            width: 500px;
            height: 400px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px 10px 0 0;
            display: none;
            flex-direction: column;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            z-index: 1050; /* Asegúrate que sea superior al del DataTable */
        }
        .chatbot-header {
            background-color: #220135;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px 10px 0 0;
        }

        .bot-message p, .user-message p {
            padding: 10px;
            margin: 5px 0;
            border-radius: 10px;
        }

        .bot-message p {
            background-color: #220135;
            color: white;
        }

        .user-message p {
            background-color: #f1f1f1;
            color: black;
            align-self: flex-end;
        }

        #chat-input {
            flex-grow: 1;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        #chat-send-btn {
            background-color: #220135;
            color: white;
            border: none;
            padding: 10px;
            margin-left: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .chatbot-toggle {
            position: fixed;
            bottom: 0;
            right: 20px;
        }

        #chatbot-open-btn {
            background-color: #220135;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 10px 10px 0 0;
            cursor: pointer;
        }

        #chatbot-close-btn {
            background: none;
            border: none;
            font-size: 20px;
            color: white;
            cursor: pointer;
        }
        .list-group {
            transition: opacity 0.3s ease, visibility 0.3s ease;
            opacity: 0;
            visibility: hidden;
        }

        .card:hover .list-group {
            opacity: 1;
            visibility: visible;
        }
        .product-card {
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
        }

        .product-card:hover {
            transform: scale(1.1); /* Agranda el card al 110% */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Añade una sombra */
            z-index: 10; /* Asegura que el card esté encima de otros elementos */
        }
        /* Estilo del modal */
        .card-container {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            perspective: 1000px;
        }

        .card-inner {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.6s;
        }

        /* Animación de giro para pantallas grandes */
        .card-container:hover .card-inner {
            transform: rotateY(180deg);
        }

        /* Caras de la tarjeta */
        .card-front, .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .card-back {
            transform: rotateY(180deg);
        }

        /* Estilos responsivos para pantallas pequeñas */
        @media (max-width: 768px) {
            .card-container {
                perspective: 800px;
            }

            .card-container .card-inner {
                transform: rotateY(0deg);
            }

            .card-container.active .card-inner {
                transform: rotateY(180deg);
            }
        }
    </style>

</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="~{Usuario/fragments/navbar :: nav_bar}"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="~{Usuario/fragments/sidebar :: side_bar}"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="banner mb-5" style="width: 100%; height: 120px; display: flex; justify-content: center; align-items: center; background: linear-gradient(90deg, #8c52ff, #ff914d); border-radius: 10px; color: white; font-size: 24px; font-weight: bold; text-align: center;">
                <span>¡Explora Asia con TRADO en cada compra!</span>
            </div>

            <div class="container-fluid" style="background-color: whitesmoke">
                <!-- Categorías -->
                <h5>Explora nuestras categorías</h5>
                <hr>
                <div class="row">
                    <!-- Tarjeta 1 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-0">
                        <div class="card" style="background-color: white; border: none;"
                             onmouseover="showItems(this)"
                             onmouseout="hideItems(this)">
                            <div class="card-img-top" style="width: 100%; height: 150px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                                <a th:href="@{/usuario/categoriaMujer}">
                                    <img th:src="@{../images/modaFemenina/blusa.jpeg}" alt="Moda femenina" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="text-center">Moda femenina</h6>
                                <p>Descubre la elegancia y el confort con nuestra moda exclusiva. Dale un toque único a tu guardarropa.</p>
                            </div>
                            <div class="list-group" style="display: none; position: absolute; top: 100%; left: 0; z-index: 10; width: 100%;"> <!-- Ocultar inicialmente -->
                                <a th:href="@{/usuario/categoriaMujerFilter?categoria=1}" type="button" class="list-group-item list-group-item-action">Blusas</a>
                                <a th:href="@{/usuario/categoriaMujerFilter?categoria=4}" type="button" class="list-group-item list-group-item-action">Pantalones</a>
                                <a th:href="@{/usuario/categoriaMujerFilter?categoria=5}" type="button" class="list-group-item list-group-item-action">Vestidos</a>
                                <a th:href="@{/usuario/categoriaMujerFilter?categoria=3}" type="button" class="list-group-item list-group-item-action">Poleras</a>
                                <a th:href="@{/usuario/categoriaMujerFilter?categoria=2}" type="button" class="list-group-item list-group-item-action">Shorts</a>
                            </div>
                        </div>
                    </div>
                    <!-- Tarjeta 2 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-0">
                        <div class="card" style="background-color: white; border: none;"
                             onmouseover="showItems(this)"
                             onmouseout="hideItems(this)">
                            <div class="card-img-top" style="width: 100%; height: 150px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                                <a th:href="@{/usuario/categoriaHombre}">
                                    <img th:src="@{../images/modaMasculina/123.jpg}" alt="Moda masculina" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                </a>
                            </div>
                            <div class="card-body ">
                                <h6 class="text-center">Moda masculina</h6>
                                <p>Descubre la combinación perfecta de moda y confort. ¡Eleva tu guardarropa con nuestras colecciones.</p>
                            </div>
                            <div class="list-group" style="display: none; position: absolute; top: 100%; left: 0; z-index: 10; width: 100%;">
                                <a th:href="@{/usuario/categoriaHombreFilter?categoria=6}"  type="button" class="list-group-item list-group-item-action">Polos</a>
                                <a th:href="@{/usuario/categoriaHombreFilter?categoria=7}"  type="button" class="list-group-item list-group-item-action">Camisas</a>
                                <a th:href="@{/usuario/categoriaHombreFilter?categoria=8}" type="button" class="list-group-item list-group-item-action">Chompas</a>
                                <a th:href="@{/usuario/categoriaHombreFilter?categoria=8}"  type="button" class="list-group-item list-group-item-action">Poleras</a>
                                <a th:href="@{/usuario/categoriaHombreFilter?categoria=10}" type="button" class="list-group-item list-group-item-action">Pantalones</a>
                            </div>
                        </div>
                    </div>

                    <!-- Tarjeta 3 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-0">
                        <div class="card" style="background-color: white; border: none;"
                             onmouseover="showItems(this)"
                             onmouseout="hideItems(this)">
                            <div class="card-img-top" style="width: 100%; height: 150px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                                <a th:href="@{/usuario/categoriaMuebles}">
                                    <img src="../images/mueblesHogar/Estante.jpeg" alt="Muebles" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                </a>
                            </div>
                            <div class="card-body ">
                                <h6 class="text-center">Muebles</h6>
                                <p>Descubre cómo transformar tu hogar en un refugio de estilo y confort con nuestras colecciones exclusivas.</p>
                            </div>
                            <div class="list-group" style="display: none; position: absolute; top: 100%; left: 0; z-index: 10; width: 100%;">
                                <a th:href="@{/usuario/categoriaMueblesFilter?categoria=17}" type="button" class="list-group-item list-group-item-action">Sillones</a>
                                <a th:href="@{/usuario/categoriaMueblesFilter?categoria=18}"  type="button" class="list-group-item list-group-item-action">Armarios</a>
                                <a th:href="@{/usuario/categoriaMueblesFilter?categoria=19}" type="button" class="list-group-item list-group-item-action">Literas</a>
                                <a th:href="@{/usuario/categoriaMueblesFilter?categoria=20}"  type="button" class="list-group-item list-group-item-action">Estantes</a>
                                <a th:href="@{/usuario/categoriaMueblesFilter?categoria=16}" type="button" class="list-group-item list-group-item-action">Juego de comedor</a>
                            </div>
                        </div>
                    </div>

                    <!-- Tarjeta 4 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-0">
                        <div class="card" style="background-color: white; border: none;"
                             onmouseover="showItems(this)"
                             onmouseout="hideItems(this)">
                            <!-- Imagen -->
                            <div class="card-img-top" style="width: 100%; height: 150px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                                <a th:href="@{/usuario/categoriaTecnologia}">
                                    <img th:src="@{../images/tecnologia/laptop.jpeg}" alt="Electrónica" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                </a>
                            </div>
                            <!-- Cuerpo -->
                            <div class="card-body ">
                                <h6 class="text-center">Electrónica</h6>
                                <p>Descubre lo último en tecnología con nuestros gadgets de vanguardia. ¡Lleva tu vida al siguiente</p>
                            </div>
                            <!-- Lista oculta -->
                            <div class="list-group" style="display: none; position: absolute; top: 100%; left: 0; z-index: 10; width: 100%;">
                                <a th:href="@{/usuario/categoriaTecnologiaFilter?categoria=15}" type="button" class="list-group-item list-group-item-action">Audífonos</a>
                                <a th:href="@{/usuario/categoriaTecnologiaFilter?categoria=14}"  type="button" class="list-group-item list-group-item-action">Celulares</a>
                                <a th:href="@{/usuario/categoriaTecnologiaFilter?categoria=13}"type="button" class="list-group-item list-group-item-action">Tables</a>
                                <a th:href="@{/usuario/categoriaTecnologiaFilter?categoria=12}"  type="button" class="list-group-item list-group-item-action">Laptops</a>
                                <a th:href="@{/usuario/categoriaTecnologiaFilter?categoria=11} " type="button" class="list-group-item list-group-item-action">Computadoras</a>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    function showItems(cardElement) {
                        // Muestra los elementos de la lista
                        const listGroup = cardElement.querySelector('.list-group');
                        listGroup.style.display = 'block';
                    }

                    function hideItems(cardElement) {
                        // Oculta los elementos de la lista
                        const listGroup = cardElement.querySelector('.list-group');
                        listGroup.style.display = 'none';
                    }
                </script>

                <!-- Productos con mayor cantidad de reseñas y votaciones -->
                <br>
                <h5>Favoritos de la Comunidad: ¡Los más comprados!</h5>
                <hr>
                <div class="container-fluid" style="display: flex; justify-content: center; flex-wrap: wrap;">
                    <div class="row" style="display: flex; justify-content: center; width: 100%; margin-bottom: 15px; gap: 10px;">
                        <div th:each="producto : ${productosTop}" class="col col-12 col-sm-6 col-md-4 col-lg-2 p-0" style="display: flex; justify-content: center;">
                            <div class="card-container" style="perspective: 1000px; height: 300px; width: 100%;">
                                <div class="card-inner" style="position: relative; width: 100%; height: 100%; transform-style: preserve-3d; transition: transform 0.6s;">
                                    <!-- Cara Frontal (Código Original) -->
                                    <div class="card-front" style="position: absolute; width: 100%; height: 100%; backface-visibility: hidden;">
                                        <div class="card product-card" style="background-color: white; border: none; height: 300px; width: 100%; margin: 0; position: relative;">
                                            <!-- Imagen -->
                                            <div class="card-img-top" style="width: 100%; height: 200px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                                                <img th:src="@{'../images/product/' + ${producto[4]}}" alt="Electrónica" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                            </div>
                                            <div class="card-body" style="padding: 0; position: relative; overflow: hidden;">
                                                <br>
                                                <h6 class="text-center" th:text="${producto[1]} + ' ' + ${producto[3]} + ' ' + ${producto[2]}"> </h6>
                                            </div>
                                            <!-- Calificación con estrellas -->
                                            <div class="card-footer">
                                                <small class="text-muted">Calificación: <span th:text="${producto[10]}"></span><i class="mdi mdi-star" style="color: gold;"></i></small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Cara Trasera -->
                                    <div class="card-back product-card" style="position: absolute; width: 100%; height: 100%; backface-visibility: hidden; background-color: #f8f9fa; border: none; transform: rotateY(180deg); display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                        <h6 th:text="${producto[1]}"></h6>
                                        <small th:text="${producto[6]}" style="text-align: center; padding: 0 10px; margin-bottom: 10px;"></small>
                                        <a th:href="@{'/usuario/productoDetalles?id=' + ${producto[0]} }" class="btn btn-primary btn-sm" type="button"><small >Ver detalles</small></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Tarjeta bloqueada -->
                        <div th:if="${productosTop.size() < 5}" th:each="i : ${#numbers.sequence(1, 5 - productosTop.size())}" class="col col-12 col-sm-6 col-md-4 col-lg-2 p-1" style="display: flex; justify-content: center;">
                            <div class="card product-card" style="background-color: #f0f0f0; border: none; height: 300px; width: 100%; margin: 0; display: flex; justify-content: center; align-items: center;">
                                <div class="card-body" style="text-align: center; color: #ccc; flex-grow: 1; display: flex; justify-content: center; align-items: center;">
                                    Contenido no disponible
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            const cards = document.querySelectorAll(".card-container");

                            cards.forEach(card => {
                                card.addEventListener("click", () => {
                                    // Alternar la clase `active` para activar el giro
                                    card.classList.toggle("active");
                                });
                            });
                        });

                    </script>
                    <!-- Tarjeta 2
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-2 p-1" style="display: flex; justify-content: center;">
                            <div class="card product-card" style="background-color: white; border: none; height: 300px; width: 100%; margin: 0;">
                                <div class="card-header" style="text-align: center;">Producto 2</div>
                                <div class="card-body" style="text-align: center;">Descripción breve</div>
                                <div class="card-footer" style="text-align: center;">Calificación: 4.3</div>
                            </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-2 p-1" style="display: flex; justify-content: center;">
                            <div class="card product-card" style="background-color: white; border: none; height: 300px; width: 100%; margin: 0;">
                                <div class="card-header" style="text-align: center;">Producto 3</div>
                                <div class="card-body" style="text-align: center;">Descripción breve</div>
                                <div class="card-footer" style="text-align: center;">Calificación: 4.8</div>
                            </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-2 p-1" style="display: flex; justify-content: center;">
                            <div class="card product-card" style="background-color: white; border: none; height: 300px; width: 100%; margin: 0;">
                                <div class="card-header" style="text-align: center;">Producto 4</div>
                                <div class="card-body" style="text-align: center;">Descripción breve</div>
                                <div class="card-footer" style="text-align: center;">Calificación: 4.7</div>
                            </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-2 p-1" style="display: flex; justify-content: center;">
                            <div class="card product-card"
                                 onclick="showProductDetails('Producto 1', 'Descripción completa del producto', 4.5)"
                                 style="background-color: white; border: none; height: 300px; width: 100%; margin: 0; cursor: pointer;">
                                <div class="card-header" style="text-align: center;">Producto 1</div>
                                <div class="card-body" style="text-align: center;">Descripción breve</div>
                                <div class="card-footer" style="text-align: center;">Calificación: 4.5</div>
                            </div>
                        </div> -->
                </div>

                <!-- Productos Recomendados -->
                <br>
                <div class="row">
                    <div class="col-6">
                        <h5>Mis últimos hallazgos favoritos</h5>
                        <hr>
                        <div class="card" style="background-color: white">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead class="table-light">
                                            <tr>
                                                <th><small>Imagen</small></th>
                                                <th><small>Producto</small></th>
                                                <th><small>Marca</small></th>
                                                <th><small>Ver más</small></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h5>Mis últimos pedidos</h5>
                        <hr>
                        <div class="card" style="background-color: white">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead class="table-light">
                                            <tr>
                                                <th><small>Código</small></th>
                                                <th><small>Fecha de creación</small></th>
                                                <th><small>Estado</small></th>
                                                <th><small>Agente</small></th>
                                                <th><small> <a th:href="@{/usuario/misPedidos}">Ver más</a> </small></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- Condicional para mostrar un mensaje si la lista está vacía -->
                                            <tr th:if="${#lists.isEmpty(misUltimosPedidos)}">
                                                <td colspan="5" class="text-center">
                                                    <small>No tienes pedidos recientes.</small>
                                                </td>
                                            </tr>
                                            <tr th:each="orden :${misUltimosPedidos}">
                                                <th ><small th:text="${orden[0]}"></small></th>
                                                <th ><small th:text="${orden[1]}"></small></th>
                                                <th ><small th:text="${orden[2]}"></small></th>
                                                <th ><small th:text="${orden[3]}"></small></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Page-content -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © TRADO.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->
        <!-- Chatbot -->
        <div id="chatbot-container" class="chatbot-container">
            <div class="chatbot-header">
                <h5 style="color: white" class="justify-content-center">Tradito</h5>
                <button id="chatbot-close-btn">&times;</button>
            </div>

            <!-- <iframe src='https://webchat.botframework.com/embed/TRADO-bot?s=vBA9LTncK4E.xtJE6xeFxR3axt9ZuouclDvAOHsxn3MCbA73cOl-LWQ' style='width: 100%; height: 100%; border: none;'></iframe> -->
            <iframe src='https://webchat.botframework.com/embed/tradito-bot2?s=uk1vH9Jy5cI.ABqEVevj8LGk-uecYJm11nv2FAUuWmCLwCeF35JLICw'  style='width: 100%; height: 100%; border: none;'></iframe>
        </div>

        <!-- Botón para abrir el chatbot con imagen de icono -->
        <div id="chatbot-toggle" class="chatbot-toggle">
            <button id="chatbot-open-btn" class="btn btn-primary">ChatBot</button>
        </div>





        <!-- JAVASCRIPT BASE-->
        <span th:replace="~{Common/jsBase :: js_Base}"></span>
        <!-- End JAVASCRIPT BASE-->
        <script>
            document.getElementById('chatbot-open-btn').addEventListener('click', function() {
                document.getElementById('chatbot-container').style.display = 'flex';
                document.getElementById('chatbot-toggle').style.display = 'none';
            });

            document.getElementById('chatbot-close-btn').addEventListener('click', function() {
                document.getElementById('chatbot-container').style.display = 'none';
                document.getElementById('chatbot-toggle').style.display = 'block';
            });

            document.getElementById('chat-send-btn').addEventListener('click', function() {
                sendMessage();
            });

            document.getElementById('chat-input').addEventListener('keypress', function(event) {
                if (event.key === 'Enter') {
                    sendMessage();
                }
            });

            // Abre el chatbot
            document.getElementById("chatbot-open-btn").onclick = function() {
                document.getElementById("chatbot-container").style.display = "flex";
                document.getElementById("chatbot-toggle").style.display = "none";
            };

            // Cierra el chatbot
            document.getElementById("chatbot-close-btn").onclick = function() {
                document.getElementById("chatbot-container").style.display = "none";
                document.getElementById("chatbot-toggle").style.display = "block";
            };



        </script>

        <!-- Required datatable js -->
        <script th:src="@{../libs/datatables.net/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{../libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <!-- Buttons examples -->
        <script th:src="@{../libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
        <script th:src="@{../libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
        <script th:src="@{../libs/jszip/jszip.min.js}"></script>
        <script th:src="@{../libs/pdfmake/build/pdfmake.min.js}"></script>
        <script th:src="@{../libs/pdfmake/build/vfs_fonts.js}"></script>
        <script th:src="@{../libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
        <script th:src="@{../libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

        <script th:src="@{../libs/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
        <script th:src="@{../libs/datatables.net-select/js/dataTables.select.min.js}"></script>

        <!-- Responsive examples -->
        <script th:src="@{../libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{../libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{../js/pages/datatables.init.js}"></script>
    </div>
</div>
</body>
</html>