<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== NavBar Start ========== -->
        <header th:replace="~{Usuario/fragments/navbar :: nav_bar}"></header>
        <!-- Navbar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="~{Usuario/fragments/sidebar :: side_bar}"></div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h2 class="mb-sm-0">Bienvenido Usuario 👋</h2>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                                        <li class="breadcrumb-item active">Pagina Principal</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h2 class="card-title"><b>TRADO</b></h2>
                                <p class="card-text">Desde Asia a tu puerta, fácil y seguro</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img th:src="@{../images/viniloTheStrokes.jpg}" class="d-block w-100" alt="Imagen 1">
                                        </div>
                                        <div class="col-md-4">
                                            <img th:src="@{../images/cargoPant.jpg}" class="d-block w-100" alt="Imagen 2">
                                        </div>
                                        <div class="col-md-4">
                                            <img th:src="@{../images/bateNegan.jpg}" class="d-block w-100" alt="Imagen 3">
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img th:src="@{../images/puaGuitarra.jpg}" class="d-block w-100" alt="Imagen 4">
                                        </div>
                                        <div class="col-md-4">
                                            <img th:src="@{../images/zapasConverse.jpg}" class="d-block w-100" alt="Imagen 5">
                                        </div>
                                        <div class="col-md-4">
                                            <img th:src="@{../images/perfumeDior.jpg}" class="d-block w-100" alt="Imagen 6">
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img th:src="@{../images/creatina.jpg}" class="d-block w-100" alt="Imagen 7">
                                        </div>
                                        <div class="col-md-4">
                                            <img th:src="@{../images/stanley.jpg}" class="d-block w-100" alt="Imagen 8">
                                        </div>
                                        <div class="col-md-4">
                                            <img th:src="@{../images/cadenasHombre.jpg}" class="d-block w-100" alt="Imagen 9">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title"><b>Lista de ultimos pedidos</b></h2>
                                </div>
                                <div class="row">
                                        <!-- Primera fila con 2 columnas -->
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-md-4">
                                                    <img class="card-img img-fluid" th:src="@{../images/puaGuitarra.jpg}" alt="Card image">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-md-4">
                                                    <img class="card-img img-fluid" th:src="@{../images/puaGuitarra.jpg}" alt="Card image">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © TRADO.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->


    <!-- JAVASCRIPT BASE-->
    <span th:replace="~{Common/jsBase :: js_Base}"></span>
    <!-- End JAVASCRIPT BASE-->
</body>

</html>