<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


<head>
    <meta charset="utf-8" />
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="~{Usuario/fragments/navbar :: nav_bar}"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="~{Usuario/fragments/sidebar :: side_bar}"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h6 class="mb-sm-0">Creación de una nueva publicación </h6>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">Inicio</li>
                                    <li class="breadcrumb-item active">Foro</li>
                                    <li class="breadcrumb-item active">Comunidad</li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Nuevo</a></li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <form th:action="@{/usuario/nuevaPublicacion}" th:object="${publicacion}" method="post">
                                <div class="card-body">
                                    <div class="mb-3 col-md-8">
                                        <label class="form-label fw-bolder fs-5">Ingrese un título</label>
                                        <input type="text" class="form-control" th:field="*{titulo}" placeholder="Ingrese el título aquí" required>
                                        <small class="form-text text-muted">Ingrese un máximo de 30 caracteres. <strong>Este campo es obligatorio.</strong></small>
                                    </div>
                                    <div class="mb-3 col-md-8">
                                        <label class="form-label fw-bolder fs-5">Ingrese el cuerpo de la publicación</label>
                                        <textarea class="form-control" rows="5" th:field="*{cuerpo}" placeholder="Ingrese el cuerpo de la publicación aquí" required></textarea>
                                        <small class="form-text text-muted">Ingrese un máximo de 1000 caracteres.</small>
                                    </div>
                                    <div class="mb-3 col-md-8">
                                        <small class="form-text text-muted">Complete este formulario para compartir su experiencia con la comunidad.</small>
                                    </div>
                                    <div class="row">
                                        <div class="d-flex">
                                            <a th:href="@{/usuario/comunidad}" class="btn btn-danger btn-sm waves-effect waves-light me-2" title="Cancelar">Cancelar</a>
                                            <button type="submit" class="btn btn-primary btn-sm me-2 waves-effect waves-light" title="Guardar">Publicar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © TRADO.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->
</body>

</html>