<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS BASE -->
    <meta th:replace="~{/Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body data-sidebar="dark">

<!-- Begin layout-wrapper -->
<div id="layout-wrapper">

    <!-- ========== Navbar Start ========== -->
    <header th:replace="~{Usuario/fragments/navbar :: nav_bar}"></header>
    <!-- ========== Navbar End ========== -->

    <!-- ========== Sidebar Start ========== -->
    <aside th:replace="~{Usuario/fragments/sidebar :: side_bar}"></aside>
    <!-- ========== Sidebar End ========== -->

    <!-- ============================================================== -->
    <!-- Start main content here -->
    <!-- ============================================================== -->
    <main class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- Start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Nueva reseña</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Foro</a></li>
                                    <li class="breadcrumb-item active">Reseñas</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End page title -->

                <!-- Start form file upload -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Dropzone</h4>
                                <p class="card-title-desc">DropzoneJS is an open source library that provides drag’n’drop file uploads with image previews.</p>

                                <form action="#" class="dropzone">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple="multiple">
                                    </div>
                                    <div class="dz-message needsclick">
                                        <div class="mb-3">
                                            <i class="display-4 text-muted ri-upload-cloud-2-line"></i>
                                        </div>
                                        <h4>Drop files here or click to upload.</h4>
                                    </div>
                                </form>

                                <div class="text-center mt-4">
                                    <button type="button" class="btn btn-primary waves-effect waves-light">Send Files</button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
                <!-- End form file upload -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End page-content -->

        <!-- Footer -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © TRADO.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </main>
    <!-- End main content -->

</div>
<!-- End layout-wrapper -->

<!-- JAVASCRIPT BASE -->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE -->

</body>

</html>
