<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="~{Usuario/fragments/navbar :: nav_bar}"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="~{Usuario/fragments/sidebar :: side_bar}"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Reestablecer Contraseña</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">Configuraciones</li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Contraseña</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Formulario de cambio de contraseña -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <hr class="my-0">
                            <div class="card-body">

                                <!-- Alertas de error o éxito -->
                                <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <span th:text="${error}"></span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>

                                <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
                                    <span th:text="${success}"></span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>


                                <!-- Formulario para cambiar la contraseña -->
                                <form th:action="@{/usuario/cambiarContraseña}" method="post" th:object="${passwordChangeDto}">

                                    <!-- Mostrar errores de validación si existen -->
                                    <div th:if="${#fields.hasErrors()}" class="alert alert-danger alert-dismissible fade show">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                                        </ul>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>

                                    <!-- Mostrar mensaje de éxito si la contraseña se cambió correctamente -->
                                    <div th:if="${success}" class="alert alert-success alert-dismissible fade show">
                                        <p th:text="${success}"></p>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>

                                    <div class="row">
                                        <div class="row">
                                            <!-- Campo para contraseña actual -->
                                            <div class="mb-3 col-md-6">
                                                <label for="currentPassword" class="form-label">Contraseña Actual</label>
                                                <p class="text-muted mb-2 mt-2">Introduzca su contraseña actual</p>
                                                <input class="form-control" type="password" id="currentPassword" th:field="*{currentPassword}" required>
                                            </div>
                                        </div>

                                        <!-- Campo para nueva contraseña -->
                                        <div class="mb-3 col-md-6">
                                            <label for="newPassword" class="form-label">Nueva Contraseña</label>
                                            <p class="text-muted mb-2 mt-2">Introduzca su nueva contraseña</p>

                                            <input class="form-control" type="password" id="newPassword" th:field="*{newPassword}" required>
                                            <ul class="text-muted mb-2 mt-2 mx-3">
                                                <li>La longitud mínima de la contraseña es de 8 caracteres y máxima de 16 caracteres</li>
                                                <li>Debe contener al menos 1 número</li>
                                                <li>Debe contener al menos 2 caracteres especiales</li>
                                                <li>Debe contener al menos 1 letra mayúscula y minúscula</li>
                                            </ul>
                                        </div>

                                        <!-- Campo para confirmar nueva contraseña -->
                                        <div class="mb-3 col-md-6">
                                            <label for="confirmNewPassword" class="form-label">Confirmar Nueva Contraseña</label>
                                            <p class="text-muted mb-2 mt-2">Introduzca de nuevo su contraseña. Asegúrese de que sean idénticas</p>
                                            <input class="form-control" type="password" id="confirmNewPassword" th:field="*{confirmNewPassword}" required>
                                            <hr class="opacity-0">
                                            <div class="mt-2">
                                                <button type="submit" class="btn btn-primary me-2" style="background-color: #FFA500; color: #ffffff; border: 2px solid #FFA500;  border-radius: 8px; font-size: 14px; cursor: pointer; transition: background-color 0.3s, border-color 0.3s;">Cambiar Contraseña</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © TRADO.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->
</body>

</html>
