<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <title>Detalle del producto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS BASE -->
  <meta th:replace="~{Common/cssBase :: css_Base}">
  <!-- End CSS BASE -->

  <style>

    .product-img img {
      transition: transform .2s; /* Animation */
    }
    .product-img:hover img {
      transform: scale(3.0); /* (150% zoom) */
    }

    .product-img {
      overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */
      width: 300px; /* Ajusta el tamaño del contenedor según tus necesidades */
      height: 300px; /* Ajusta el tamaño del contenedor según tus necesidades */
      position: relative;
    }

    .zoom-image {
      width: 100%; /* Hace que la imagen ocupe todo el contenedor */
      transition: transform 0.3s ease; /* Suaviza el efecto de zoom */
    }

    .product-img:hover .zoom-image {
      transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el cursor */
    }
    .product-img {
      display: flex; /* Utiliza flexbox para centrar el contenido */
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
      height: 400px; /* Ajusta la altura según tus necesidades */
      overflow: hidden; /* Asegúrate de que las imágenes no sobresalgan */
    }

    .zoom-image {
      width: auto; /* Mantiene la proporción de la imagen */
      max-width: 90%; /* Aumenta el tamaño máximo de la imagen */
      max-height: 90%; /* Aumenta el tamaño máximo de la imagen */
      transition: transform 0.3s ease; /* Suaviza el efecto de zoom */
    }

    .product-img:hover .zoom-image {
      transform: scale(1.2); /* Efecto de zoom al pasar el cursor */
    }


  </style>
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

  <!-- ========== NavBar Start ========== -->
  <header th:replace="Usuario/fragments/navbar :: nav_bar"></header>
  <!-- Navbar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div th:replace="Usuario/fragments/sidebar :: side_bar"></div>
  <!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">Detalles del producto</h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item active">Inicio</li>
                  <li class="breadcrumb-item active">Productos</li>
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Detalles</a></li>
                </ol>
              </div>

            </div>
          </div>
        </div>
        <!-- end page title -->

        <!-- INICIO-->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="row">

                  <div class="col-xl-6">
                    <div class="product-detail">
                      <div class="row">
                        <!-- Sección principal de imágenes y botones de acción -->
                        <div class="col-md-8 col-12">
                          <div class="tab-content d-flex justify-content-center align-items-center" id="v-pills-tabContent">
                            <!-- Producto 1 -->
                            <div class="tab-pane fade show active" id="product-1" role="tabpanel">
                              <div class="product-img text-center" style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
                                <img th:src="@{../images/product/img-1.png}" alt="img-1" class="img-fluid zoom-image" data-action="zoom" data-original="assets/images/product/img-1.png" style="max-width: 100%; height: auto;">
                              </div>
                            </div>
                            <!-- Producto 2 -->
                            <div class="tab-pane fade" id="product-2" role="tabpanel">
                              <div class="product-img text-center" style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
                                <img th:src="@{../images/product/img-5.png}" alt="img-5" class="img-fluid zoom-image" style="max-width: 100%; height: auto;">
                              </div>
                            </div>
                            <!-- Producto 3 -->
                            <div class="tab-pane fade" id="product-3" role="tabpanel">
                              <div class="product-img text-center" style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
                                <img th:src="@{../images/product/img-3.png}" alt="img-3" class="img-fluid zoom-image" style="max-width: 100%; height: auto;">
                              </div>
                            </div>
                            <!-- Producto 4 -->
                            <div class="tab-pane fade" id="product-4" role="tabpanel">
                              <div class="product-img text-center" style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
                                <img th:src="@{../images/product/img-4.png}" alt="img-4" class="img-fluid zoom-image" style="max-width: 100%; height: auto;">
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Sidebar de imágenes (se ajusta el ancho en diferentes dispositivos) -->
                        <div class="col-md-4 col-12">
                          <div class="nav flex-md-column flex-row nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="product-1-tab" data-bs-toggle="pill" href="#product-1" role="tab">
                              <img th:src="@{../images/product/img-1.png}" alt="img-1" class="img-fluid mx-auto d-block tab-img rounded">
                            </a>
                            <a class="nav-link" id="product-2-tab" data-bs-toggle="pill" href="#product-2" role="tab">
                              <img th:src="@{../images/product/img-5.png}" alt="img-5" class="img-fluid mx-auto d-block tab-img rounded">
                            </a>
                            <a class="nav-link" id="product-3-tab" data-bs-toggle="pill" href="#product-3" role="tab">
                              <img th:src="@{../images/product/img-3.png}" alt="img-3" class="img-fluid mx-auto d-block tab-img rounded">
                            </a>
                            <a class="nav-link" id="product-4-tab" data-bs-toggle="pill" href="#product-4" role="tab">
                              <img th:src="@{../images/product/img-4.png}" alt="img-4" class="img-fluid mx-auto d-block tab-img rounded">
                            </a>
                          </div>
                        </div>
                        <!-- Botones de acción -->
                        <div class="row text-center mt-3">
                          <div class="col-6">
                            <a href="/usuario/carrito" class="btn btn-primary btn-block waves-effect waves-light">
                              Añadir al carrito
                            </a>
                          </div>
                          <div class="col-6">
                            <a href="/usuario/checkout" class="btn btn-light btn-block waves-effect">
                              Comprar ahora
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>


                    <!-- end product img -->
                  </div>
                  <div class="col-xl-6">
                    <div class="mt-4 mt-xl-3">
                      <a href="#" class="text-primary">T-shirt</a>
                      <h5 class="mt-1 mb-3"  style="font-size: 24px;">Full sleeve Blue color t-shirt</h5>

                      <div class="d-inline-flex">
                        <div class="text-muted me-2" style="font-size: 18px;">
                        <span class="mdi mdi-star text-warning"></span>
                        <span class="mdi mdi-star text-warning"></span>
                        <span class="mdi mdi-star text-warning"></span>
                        <span class="mdi mdi-star text-warning"></span>
                        <span class="mdi mdi-star"></span>
                      </div>
                        <div class="text-muted" style="font-size: 18px;">4.1 ( 132 )</div>
                      </div>
                      <h5 class="mt-2" style="font-size: 24px;">
                        S/240 <span style="font-size: 12px; color: #888;">por cada 10 unidades</span>
                      </h5>
                      <p class="mt-2" style="font-size: 14px;">Costo por unidad: S/10</p>

                      <p class="mt-3">Medidas de modelo La modelo mide 168 cm y usa talla S/26. Su pecho mide 81 cm, su cintura, 63 cm y su cadera, 89 cm.</p>
                      <hr class="my-4">
                      <div class="row mt-4">
                        <div class="col-6">
                          <h5 class="font-size-14">Especificaciones :</h5>
                          <ul class="list-unstyled product-desc-list">
                            <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Manga larga</li>
                            <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Algodón</li>
                            <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Disponibilidad en las tallas S, M y L</li>
                            <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Unidades en Stock: 500</li>
                          </ul>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="product-color mt-3">
                            <h5 class="font-size-14">Tamaño :</h5>
                            <div class="btn-group d-flex justify-content-center flex-wrap" role="group">
                              <!-- Botón Tamaño S -->
                              <input type="radio" class="btn-check" name="size" id="sizeS" autocomplete="off" checked>
                              <label class="btn btn-outline-primary m-1" for="sizeS" style="width: 50px; height: 40px;">
                                S
                              </label>

                              <!-- Botón Tamaño M -->
                              <input type="radio" class="btn-check" name="size" id="sizeM" autocomplete="off">
                              <label class="btn btn-outline-primary m-1" for="sizeM" style="width: 50px; height: 40px;">
                                M
                              </label>

                              <!-- Botón Tamaño L -->
                              <input type="radio" class="btn-check" name="size" id="sizeL" autocomplete="off">
                              <label class="btn btn-outline-primary m-1" for="sizeL" style="width: 50px; height: 40px;">
                                L
                              </label>
                            </div>
                          </div>
                        </div>
                        <hr class="my-4">
                        <div class="provider-info d-flex align-items-center">
                          <img th:src="@{../images/product/iconoProvedor.png}"  alt="Proveedor Icono" class="me-2" style="width: 40px; height: 40px;">
                          <span class="provider-name">Nombre del Proveedor</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end row -->

                <div class="mt-4">
                  <!--<h5 class="font-size-14 mb-3">Descripción del producto: </h5> -->
                  <div class="product-desc">
                    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="desc-tab" data-bs-toggle="tab" href="#desc" role="tab">Descripción</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " id="specifi-tab" data-bs-toggle="tab" href="#specifi" role="tab">Especificaciones</a>
                      </li>
                    </ul>
                    <div class="tab-content border border-top-0 p-4">
                      <div class="tab-pane fade show active" id="desc" role="tabpanel">
                        <div> <p>Este producto es una camiseta de manga larga de color azul, diseñada para ofrecer confort y estilo en cualquier ocasión.
                          Fabricada con algodón de alta calidad, es suave al tacto y transpirable, ideal para el uso diario.
                          Con un diseño minimalista, cuenta con un gráfico discreto en el pecho que le da un toque moderno y elegante.</p>
                          <p>La camiseta está disponible en todas las tallas, asegurando un ajuste adecuado para diferentes tipos de cuerpo.
                            Está confeccionada con costuras reforzadas para mayor durabilidad y resistencia, incluso con el uso frecuente.
                            Es perfecta para combinar con jeans, pantalones casuales o incluso bajo un blazer, lo que la convierte en una opción versátil para cualquier guardarropa.</p>
                          <p>Además, esta camiseta es fácil de cuidar, ya que es apta para lavar a máquina y mantiene su forma y color lavado tras lavado.
                            Ideal tanto para hombres como para mujeres, es una prenda unisex que proporciona estilo y comodidad durante todo el año.</p>
                          <p>Características destacadas:</p>
                          <ul> <li>Material: 100% algodón de alta calidad</li>
                            <li>Color: Azul</li>
                            <li>Diseño minimalista con gráfico discreto en el pecho</li>
                            <li>Disponible en todas las tallas</li>
                            <li>Adecuada para uso diario y fácil de combinar</li>
                            <li>Costuras reforzadas para mayor durabilidad</li>
                            <li>Apta para lavar a máquina</li>
                          </ul>
                        </div>
                      </div>
                      <div class="tab-pane fade " id="specifi" role="tabpanel">
                        <div class="table-responsive">
                          <table class="table table-nowrap mb-0">
                            <tbody>
                            <tr>
                              <th scope="row" style="width: 400px;">Categoría</th>
                              <td>Moda Femenina</td>
                            </tr>
                            <tr>
                              <th scope="row">Subcategoría</th>
                              <td>Polera</td>
                            </tr>
                            <tr>
                              <th scope="row">Marca</th>
                              <td>Jack & Jones</td>
                            </tr>
                            <tr>
                              <th scope="row">Color</th>
                              <td>Blue</td>
                            </tr>
                            <tr>
                              <th scope="row">Material</th>
                              <td>Algodón</td>
                            </tr>
                            <tr>
                              <th scope="row">Peso</th>
                              <td>140 Gm</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>

                <div class="mt-4">
                  <h5 class="font-size-14">Otras recomendaciones:</h5>
                  <div class="row">
                    <!-- Card 1 -->
                    <div class="col-md-4">
                      <div class="card">
                        <a href="/usuario/productoDetalles" class="text-decoration-none">
                        <div class="card-img-top d-flex justify-content-center align-items-center" style="height: 200px;">
                          <img th:src="@{../images/product/img-1.png}" alt="Product 1" style="max-height: 100%; max-width: 100%; object-fit: cover;">
                        </div>
                        <div class="card-body">
                          <a href="#" class="text-primary">T-shirt</a>
                          <h5 class="mt-1 mb-3"  style="font-size: 14px;">Full sleeve Blue color t-shirt</h5>
                          <div class="d-inline-flex">
                            <div class="text-muted me-2" style="font-size: 12px;">
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star"></span>
                            </div>
                            <div class="text-muted" style="font-size: 12px;">4.1 ( 132 )</div>
                          </div>
                          <h5 class="mt-2" style="font-size: 14px;">S/100 <span style="font-size: 12px; color: #888;">por cada 10 unidades</span></h5>
                          <p class="mt-2" style="font-size: 14px;">Costo por unidad: S/10</p>
                        </div></a>
                      </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="col-md-4">
                      <div class="card">
                        <a href="/usuario/productoDetalles" class="text-decoration-none">
                        <div class="card-img-top d-flex justify-content-center align-items-center" style="height: 200px;">
                          <img th:src="@{../images/product/img-2.png}" alt="Product 2" style="max-height: 100%; max-width: 100%; object-fit: cover;">
                        </div>
                        <div class="card-body">
                          <a href="#" class="text-primary">T-shirt</a>
                          <h5 class="mt-1 mb-3"  style="font-size: 14px;">Full sleeve Blue color t-shirt</h5>
                          <div class="d-inline-flex">
                            <div class="text-muted me-2" style="font-size: 12px;">
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star"></span>
                            </div>
                            <div class="text-muted" style="font-size: 12px;">4.1 ( 132 )</div>
                          </div>
                          <h5 class="mt-2" style="font-size: 14px;">S/100 <span style="font-size: 12px; color: #888;">por cada 10 unidades</span></h5>
                          <p class="mt-2" style="font-size: 14px;">Costo por unidad: S/10</p>
                        </div></a>
                      </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="col-md-4">
                      <div class="card">
                        <a href="/usuario/productoDetalles" class="text-decoration-none">
                        <div class="card-img-top d-flex justify-content-center align-items-center" style="height: 200px;">
                          <img th:src="@{../images/product/img-3.png}" alt="Product 3" style="max-height: 100%; max-width: 100%; object-fit: cover;">
                        </div>
                        <div class="card-body">
                          <a href="#" class="text-primary">T-shirt</a>
                          <h5 class="mt-1 mb-3"  style="font-size: 14px;">Full sleeve Blue color t-shirt</h5>
                          <div class="d-inline-flex">
                            <div class="text-muted me-2" style="font-size: 12px;">
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star text-warning"></span>
                              <span class="mdi mdi-star"></span>
                            </div>
                            <div class="text-muted" style="font-size: 12px;">4.1 ( 132 )</div>
                          </div>
                          <h5 class="mt-2" style="font-size: 14px;">S/100 <span style="font-size: 12px; color: #888;">por cada 10 unidades</span></h5>
                          <p class="mt-2" style="font-size: 14px;">Costo por unidad: S/10</p>
                        </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
            <!-- end card -->
          </div>
        </div>

      </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <script>document.write(new Date().getFullYear())</script> © TRADO.
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->
</body>

</html>