<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <title>Detalle del producto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS BASE -->
  <meta th:replace="~{Common/cssBase :: css_Base}">
  <!-- End CSS BASE -->

  <style>

    .product-img img {
      transition: transform .2s; /* Animation */
    }
    .product-img:hover img {
      transform: scale(3.0); /* (150% zoom) */
    }

    .product-img {
      overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */
      width: 300px; /* Ajusta el tamaño del contenedor según tus necesidades */
      height: 300px; /* Ajusta el tamaño del contenedor según tus necesidades */
      position: relative;
    }

    .zoom-image {
      width: 100%; /* Hace que la imagen ocupe todo el contenedor */
      transition: transform 0.3s ease; /* Suaviza el efecto de zoom */
    }

    .product-img:hover .zoom-image {
      transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el cursor */
    }
    .product-img {
      display: flex; /* Utiliza flexbox para centrar el contenido */
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
      height: 400px; /* Ajusta la altura según tus necesidades */
      overflow: hidden; /* Asegúrate de que las imágenes no sobresalgan */
    }

    .zoom-image {
      width: auto; /* Mantiene la proporción de la imagen */
      max-width: 90%; /* Aumenta el tamaño máximo de la imagen */
      max-height: 90%; /* Aumenta el tamaño máximo de la imagen */
      transition: transform 0.3s ease; /* Suaviza el efecto de zoom */
    }

    .product-img:hover .zoom-image {
      transform: scale(1.2); /* Efecto de zoom al pasar el cursor */
    }


  </style>
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

  <!-- ========== NavBar Start ========== -->
  <header th:replace="Usuario/fragments/navbar :: nav_bar"></header>
  <!-- Navbar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div th:replace="Usuario/fragments/sidebar :: side_bar"></div>
  <!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">Detalles del producto</h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">

                  <li class="breadcrumb-item active">Productos</li>

                  <li class="breadcrumb-item active">
                    <a class="text-primary" th:text="${product.subcategoriaIdsubcategoria.categoriaIdcategoria.nombre}"></a>
                  </li>

                  <li class="breadcrumb-item">
                    Detalles
                  </li>

                </ol>
              </div>

            </div>
          </div>
        </div>
        <!-- end page title -->

        <!-- INICIO-->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="row">

                  <div class="col-xl-5">
                    <div class="product-detail">
                      <div class="row">
                        <!-- Sección principal de imágenes y botones de acción -->
                        <div class="col-md-12 col-12">
                          <div class="tab-content d-flex justify-content-center align-items-center" id="v-pills-tabContent">
                            <!-- Producto 1 -->
                            <div class="tab-pane fade show active" id="product-1" role="tabpanel">
                              <div th:if="${product.id >= 1 and product.id <= 26}" class="product-img text-center" style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
                                <img th:src="@{'../../images/product/product' + ${product.id} + '.jpg'}" alt="img-${product.id}" class="img-fluid zoom-image" data-action="zoom" style="width: 300px; height: 300px; object-fit: contain;">
                              </div>

                              <div class="row text-center mt-3">
                                <div class="col-6">
                                  <a href="/usuario/carrito" class="btn btn-primary btn-block waves-effect waves-light">
                                    Añadir al carrito
                                  </a>
                                </div>
                                <div class="col-6">
                                  <a href="/usuario/checkout" class="btn btn-light btn-block waves-effect">
                                    Comprar ahora
                                  </a>
                                </div>
                              </div>
                            </div>
                            <!-- Producto 2 -->
                            <div class="tab-pane fade" id="product-2" role="tabpanel">
                              <div class="product-img text-center" style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
                                <img th:src="@{../images/product/img-5.png}" alt="img-5" class="img-fluid zoom-image" style="max-width: 100%; height: auto;">
                              </div>
                            </div>
                            <!-- Producto 3 -->
                            <div class="tab-pane fade" id="product-3" role="tabpanel">
                              <div class="product-img text-center" style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
                                <img th:src="@{../images/product/img-3.png}" alt="img-3" class="img-fluid zoom-image" style="max-width: 100%; height: auto;">
                              </div>
                            </div>
                            <!-- Producto 4 -->
                            <div class="tab-pane fade" id="product-4" role="tabpanel">
                              <div class="product-img text-center" style="width: 100%; height: 400px; display: flex; justify-content: center; align-items: center;">
                                <img th:src="@{../images/product/img-4.png}" alt="img-4" class="img-fluid zoom-image" style="max-width: 100%; height: auto;">
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Botones de acción -->

                      </div>
                    </div>


                    <!-- end product img -->
                  </div>
                  <div class="col-xl-6">
                    <div class="mt-4 mt-xl-3">
                      <div>
                        <a class="text-primary" th:text="${product.subcategoriaIdsubcategoria.nombre}"></a>
                      </div>
                      <h1 class="mt-1 mb-2 fw-bolder " style="font-family: Arial;" th:text="${product.nombre}"></h1>

                      <div class="d-inline-flex">
                        <div class="text-muted me-2" style="font-size: 14px;">
                        <span class="mdi mdi-star text-warning"></span>
                        <span class="mdi mdi-star text-warning"></span>
                        <span class="mdi mdi-star text-warning"></span>
                        <span class="mdi mdi-star text-warning"></span>
                        <span class="mdi mdi-star"></span>
                      </div>
                        <div class="text-muted" style="font-size: 14px;">4.1 ( 132 )</div>
                      </div>
                      <span class="product-ribbon badge bg-warning " th:text="${product.codigo}"></span><br>
                      <h5 class="mt-2" style="font-size: 24px;">
                        <span th:text=" 'S/.'+${product.precio}"></span>
                        <span style="font-size: 12px; color: #888;">por cada 10 unidades</span>
                      </h5>

                      <p class="mt-2" style="font-size: 14px;">
                        Costo por unidad: S/<span th:text="${(product.precio)*1.5}"></span>
                      </p>


                      <p class="mt-3" th:text="${product.descripcion}"></p>
                      <hr class="my-4">
                      <div class="row mt-4">
                        <div class="col-md-12 col-lg-6">
                          <strong class="fw-bolder fs-5 mb-2 ">Especificaciones:</strong>
                          <ul class="list-unstyled product-desc-list mt-2">
                            <li>
                              <i class="mdi mdi-circle-medium me-1 align-middle"></i> Dimensiones:
                              <ul>
                                <li>Ancho: <span th:text="${product.ancho}"></span></li>
                                <li>Alto: <span th:text="${product.alto}"></span></li>
                                <li>Profundidad: <span th:text="${product.profundidad}"></span></li>
                              </ul>
                            </li>
                            <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Hecho de <span th:text="${product.material}"></span></li>
                            <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Marca: <span th:text="${product.marca}"></span></li>
                            <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Unidades en stock: <span th:text="${product.cantidad}"></span></li>
                          </ul>



                        </div>
                        <div class="col-12 col-md-6" th:if="${product.talla != null}">
                          <div class="product-color mt-3">
                            <h5 class="font-size-14">Talla :</h5>
                            <div class="btn-group d-flex justify-content-center flex-wrap" role="group">
                              <!-- Botón Tamaño S solo si el producto es de tamaño S -->
                              <input type="radio" class="btn-check" name="size" id="sizeS" autocomplete="off"
                                     th:checked="${product.talla == 'S'}">
                              <label class="btn btn-outline-primary m-1" for="sizeS" style="width: 50px; height: 40px;"
                                     th:if="${product.talla == 'S'}">
                                S
                              </label>

                              <!-- Botón Tamaño M solo si el producto es de tamaño M -->
                              <input type="radio" class="btn-check" name="size" id="sizeM" autocomplete="off"
                                     th:checked="${product.talla == 'M'}">
                              <label class="btn btn-outline-primary m-1" for="sizeM" style="width: 50px; height: 40px;"
                                     th:if="${product.talla == 'M'}">
                                M
                              </label>

                              <!-- Botón Tamaño L solo si el producto es de tamaño L -->
                              <input type="radio" class="btn-check" name="size" id="sizeL" autocomplete="off"
                                     th:checked="${product.talla == 'L'}">
                              <label class="btn btn-outline-primary m-1" for="sizeL" style="width: 50px; height: 40px;"
                                     th:if="${product.talla == 'L'}">
                                L
                              </label>
                            </div>



                          </div>
                        </div>
                        <hr class="my-4">
                        <div class="provider-info">
                          <div class="provider-label mb-2">
                            <strong class="fw-bold fs-5 ">Proveedor:</strong>
                          </div>
                          <div class="d-flex align-items-center">
                            <img th:src="@{../../images/product/iconoProvedor.png}" alt="Proveedor Icono" class="me-2" style="width: 40px; height: 40px;">
                            <span class="provider-name" th:text="${product.proveedorIdproveedor.tienda}">Nombre del Proveedor</span>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
                <!-- end row -->

                <div class="mt-4">
                  <!--<h5 class="font-size-14 mb-3">Descripción del producto: </h5> -->
                  <div class="product-desc">
                    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="desc-tab" data-bs-toggle="tab" href="#desc" role="tab">Descripción</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " id="specifi-tab" data-bs-toggle="tab" href="#specifi" role="tab">Especificaciones</a>
                      </li>
                    </ul>
                    <div class="tab-content border border-top-0 p-4">
                      <div class="tab-pane fade show active" id="desc" role="tabpanel">
                        <div th:text="${product.descripcion}"></div>

                      </div>
                      <div class="tab-pane fade " id="specifi" role="tabpanel">
                        <div class="table-responsive">
                          <table class="table table-nowrap mb-0">
                            <tbody>
                            <tr>
                              <th scope="row" style="width: 400px;">Categoría</th>
                              <td th:text="${product.subcategoriaIdsubcategoria.categoriaIdcategoria.nombre}"></td>
                            </tr>

                            <tr>
                              <th scope="row">Subcategoría</th>
                              <td th:text="${product.subcategoriaIdsubcategoria.nombre}"></td>
                            </tr>
                            <tr>
                              <th scope="row">Marca</th>
                              <td th:text="${product.marca}"></td>
                            </tr>
                            <tr>
                              <th scope="row">Color</th>
                              <td th:text="${product.color}"></td>

                            </tr>
                            <tr>
                              <th scope="row">Material</th>
                              <td th:text="${product.material}"></td>
                            </tr>
                            <tr>
                              <th scope="row">Peso</th>
                              <td th:text="${product.peso} + ' kg'"></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>

                <div class="mt-4">
                  <h5 class="font-size-14">Otras recomendaciones:</h5>
                  <div class="row">
                    <!-- Iterar sobre productList y mostrar productos excluyendo el actual -->
                    <div th:each="producto, iterStat : ${productList}"
                         th:if="${iterStat.index < 4 and producto.id != currentId}"
                         class="col-md-3">
                      <div class="card product-box">
                        <a th:href="@{/usuario/productoDetalles/{id}(id=${producto.id})}" class="text-decoration-none">

                          <div th:if="${producto.id >= 1 and producto.id <= 10}">
                            <img th:src="@{|../../images/product/product${producto.id}.jpg|}" alt="img-${producto.id}"
                                 class="img-fluid mx-auto d-block" style="width: 250px; height: 250px; object-fit: cover;">
                          </div>
                          <div class="text-center mt-3">
                            <p class="font-size-12 mb-1 text-primary">
                              <span th:text="${producto.subcategoriaIdsubcategoria.nombre}">Categoría, Subcategoría</span>
                            </p>
                            <h5 class="font-size-15">
                              <a th:text="${producto.nombre}" class="text-reset">Product Name</a>
                            </h5>
                            <div class="d-inline-flex">
                              <div class="text-muted me-2" style="font-size: 12px;">
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star text-warning"></span>
                                <span class="mdi mdi-star"></span>
                              </div>
                              <!--  <div class="text-muted" style="font-size: 12px;">

                                  <span th:text="${product.rating}">4.1</span> ( <span th:text="${product.reviews}">132</span> )
                              </div>-->
                            </div>
                            <h5 class="mt-2" style="font-size: 14px;">
                              S/ <span th:text="${producto.precio}">100</span>
                              <span style="font-size: 12px; color: #888;">por cada 10 unidades</span>
                            </h5>
                            <p class="mt-2" style="font-size: 14px;">Costo por unidad: S/<span th:text="${producto.precio*1.5}"></span></p>     </div>
                          <div class="provider-info d-flex align-items-center justify-content-center">
                            <img th:src="@{../../images/product/iconoProvedor.png}" alt="Proveedor Icono" class="rounded-circle me-2" style="width: 30px; height: 30px;">

                            <span th:text="${producto.proveedorIdproveedor.tienda}" class="provider-name">Nombre del proveedor</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>



              </div>

            <!-- end card -->
          </div>
        </div>
        </div>
      </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <script>document.write(new Date().getFullYear())</script> © TRADO.
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->
</body>

</html>