<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <title>Detalle del producto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS BASE -->
  <meta th:replace="~{Common/cssBase :: css_Base}">
  <!-- End CSS BASE -->

  <style>

    .product-img img {
      transition: transform .2s; /* Animation */
    }
    .product-img:hover img {
      transform: scale(3.0); /* (150% zoom) */
    }

    .product-img {
      overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */
      width: 300px; /* Ajusta el tamaño del contenedor según tus necesidades */
      height: 300px; /* Ajusta el tamaño del contenedor según tus necesidades */
      position: relative;
    }

    .zoom-image {
      width: 100%; /* Hace que la imagen ocupe todo el contenedor */
      transition: transform 0.3s ease; /* Suaviza el efecto de zoom */
    }

    .product-img:hover .zoom-image {
      transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el cursor */
    }
    .product-img {
      display: flex; /* Utiliza flexbox para centrar el contenido */
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
      height: 400px; /* Ajusta la altura según tus necesidades */
      overflow: hidden; /* Asegúrate de que las imágenes no sobresalgan */
    }

    .zoom-image {
      width: auto; /* Mantiene la proporción de la imagen */
      max-width: 90%; /* Aumenta el tamaño máximo de la imagen */
      max-height: 90%; /* Aumenta el tamaño máximo de la imagen */
      transition: transform 0.3s ease; /* Suaviza el efecto de zoom */
    }

    .product-img:hover .zoom-image {
      transform: scale(1.2); /* Efecto de zoom al pasar el cursor */
    }


  </style>
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

  <!-- ========== NavBar Start ========== -->
  <header th:replace="Usuario/fragments/navbar :: nav_bar"></header>
  <!-- Navbar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div th:replace="Usuario/fragments/sidebar :: side_bar"></div>
  <!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">Detalles del producto</h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">

                  <li class="breadcrumb-item active">Productos</li>

                  <li class="breadcrumb-item active">
                    <a  th:text="${product.subcategoriaIdsubcategoria.categoriaIdcategoria.nombre}"></a>
                  </li>

                  <li class="breadcrumb-item">
                    Detalles
                  </li>

                </ol>
              </div>

            </div>
          </div>
        </div>
        <!-- end page title -->

        <!-- INICIO-->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div th:if="${mensajeProductNuevo != null}" class="alert alert-success" th:text="${mensajeProductNuevo}"></div>
              <div th:if="${msgError != null}" class="alert alert-danger" th:text="${msgError}"></div>
              <div th:if="${MensajeAlerta != null}" class="alert alert-warning" th:text="${MensajeAlerta}"></div>
              <div class="card-body">
                <div class="row">

                  <div class="col-xl-5">
                    <div class="product-detail">
                      <div class="row">
                        <!-- Sección principal de imágenes y botones de acción -->
                        <div class="col-md-12 col-12">
                          <div class="tab-content d-flex  justify-content-center align-items-start mt-2" id="v-pills-tabContent">
                            <!-- Producto 1 -->
                            <div class="tab-pane fade show active" id="product-1" role="tabpanel">
                              <div th:if="${product.id >= 1 }" class="product-img text-center" style="width: 100%; height: 500px; display: flex; justify-content: center; align-items: center;">
                                <img
                                        th:src="@{'../../images/product/product' + ${product.id} + '.jpg'}"
                                        alt="img-${product.id}"
                                        class="img-fluid zoom-image"
                                        data-action="zoom"
                                        style="width: 100%; height: 100%; object-fit: contain;"
                                        onerror="this.onerror=null; this.src='../../images/error.jpg';"
                                >
                              </div>

                            </div>
                            <!-- Producto 2 -->
                            <div class="tab-pane fade" id="product-2" role="tabpanel">
                              <div th:if="${product.id >=1}" class="product-img text-center" style="width: 100%; height: 500px; display: flex; justify-content: center; align-items: center;">
                                <img
                                        th:src="@{'../../images/product/product' + ${product.id} + '.jpg'}"
                                        alt="img-${product.id}"
                                        class="img-fluid zoom-image"
                                        data-action="zoom"
                                        style="width: 100%; height: 100%; object-fit: contain;"
                                        onerror="this.onerror=null; this.src='../../images/error.jpg';"
                                >
                              </div>

                            </div>
                            <!-- Producto 3 -->
                            <div class="tab-pane fade" id="product-3" role="tabpanel">
                              <div th:if="${product.id >= 1}" class="product-img text-center" style="width: 100%; height: 500px; display: flex; justify-content: center; align-items: center;">
                                <img
                                        th:src="@{'../../images/product/product' + ${product.id} + '.jpg'}"
                                        alt="img-${product.id}"
                                        class="img-fluid zoom-image"
                                        data-action="zoom"
                                        style="width: 100%; height: 100%; object-fit: contain;"
                                        onerror="this.onerror=null; this.src='../../images/error.jpg';"
                                >
                              </div>

                            </div>
                            <!-- Producto 4 -->
                            <div class="tab-pane fade" id="product-4" role="tabpanel">
                              <div th:if="${product.id >= 1 }" class="product-img text-center" style="width: 100%; height: 500px; display: flex; justify-content: center; align-items: center;">
                                <img
                                        th:src="@{'../../images/product/product' + ${product.id} + '.jpg'}"
                                        alt="img-${product.id}"
                                        class="img-fluid zoom-image"
                                        data-action="zoom"
                                        style="width: 100%; height: 100%; object-fit: contain;"
                                        onerror="this.onerror=null; this.src='../../images/error.jpg';"
                                >
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <!-- end product img -->
                  </div>
                  <div class="col-xl-7">
                    <div class="mt-4 mt-xl-3">
                      <div>
                        <a class="text-primary" th:text="${product.subcategoriaIdsubcategoria.nombre}"></a>
                      </div>
                      <h1 class="mt-1 mb-2 fw-bolder " style="font-family: Arial;" th:text="${product.nombre}"></h1>

                      <div class="d-inline-flex">
                        <div class="text-muted me-2" style="font-size: 14px;">
        <span th:each="i : ${#numbers.sequence(1, 5)}"
              th:classappend="${i <= rating ? 'mdi mdi-star text-warning' :
                               (i - 1 < rating && rating < i ? 'mdi mdi-star-half text-warning' :
                               'mdi mdi-star-outline text-warning')}">
        </span>
                        </div>


                        <div class="text-muted" style="font-size: 14px;">
                          <span th:text="${rating}"></span>
                          (<span th:text="${conteoRating}"></span> reseñas)
                        </div>
                      </div>
                      <span class="product-ribbon badge bg-warning " th:text="${product.codigo}"></span><br>
                      <h5 class="mt-2" style="font-size: 24px;">
                        <span th:text="'S/.' + ${product.precio}"></span>
                        <span style="font-size: 12px; color: #888;"> por unidad</span>
                      </h5>


                   <!--   <p class="mt-1" style="font-size: 14px;">
                        Costo por unidad: S/<span th:text="${(product.precio)}"></span>

                      </p> -->
                      <p  style="font-size: 14px;margin-top: -5px">
                        Stock disponible: <span th:text="${productoDetalles.cantidad}"></span>

                      </p>

                      <hr class="my-4">
                      <div class="row mt-4">
                        <div class="col-md-6 col-lg-6">
                          <strong class="fw-bolder fs-5 mb-2 ">Especificaciones:</strong>
                          <ul class="list-unstyled product-desc-list mt-2">
                            <li>
                              <i class="mdi mdi-circle-medium me-1 align-middle"></i> Dimensiones:
                              <ul>
                                <li>Ancho: <span th:text="${product.ancho}"></span></li>
                                <li>Alto: <span th:text="${product.alto}"></span></li>
                                <li>Profundidad: <span th:text="${product.profundidad}"></span></li>
                              </ul>
                            </li>
                            <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Hecho de <span th:text="${product.material}"></span></li>
                            <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Marca: <span th:text="${product.marca}"></span></li>
                          </ul>
                        </div>
                        <div class="col-lg-6 col-md-6" >
                          <div class="product-color mt-3 " th:if="${product.talla != null}">
                            <label class="font-size-14"><strong>Talla :</strong></label>
                            <label
                                    th:if="${product.talla == 'S'}">
                              S
                            </label>
                            <label
                                    th:if="${product.talla == 'M'}">
                              M
                            </label>
                            <label th:if="${product.talla == 'L'}">
                              L
                            </label>
                          </div>
                          <div class="form-group row align-items-center">
                            <label for="cantidad" class="col-sm-3 col-form-label">Cantidad: </label>
                            <div class="col-sm-3">
                              <!-- Input de cantidad que puede modificar el usuario -->
                              <input type="number" class="form-control" id="cantidad" name="cantidad" min="20" value="20" oninput="actualizarCantidad()">
                            </div>
                          </div>

                          <!-- Botones de acción -->
                          <div class="row text-start mt-3">
                            <div class="col-12">
                              <form method="post" th:action="@{/usuario/selecionarProducto}">
                                <!-- Campo oculto para la cantidad -->
                                <input type="hidden" id="cantidadOculta" name="cantidad">
                                <!-- Campo oculto para el ID del producto -->
                                <input type="hidden" name="productoId" th:value="${product.id}">
                                <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" onclick="actualizarCantidad()">Añadir al carrito</button>
                              </form>
                            </div>
                          </div>

                          <script>
                            function actualizarCantidad() {
                              // Copia el valor del input visible (cantidad) al input oculto
                              var cantidad = document.getElementById("cantidad").value;
                              if (cantidad === '') {
                                cantidad = 20;
                              }

                              document.getElementById("cantidadOculta").value = cantidad;
                              console.log("Cantidad actualizada:", cantidad);
                            }

                            // Inicializa el valor del campo oculto al cargar la página
                            document.addEventListener('DOMContentLoaded', (event) => {
                              actualizarCantidad();
                            });
                          </script>



                          <div class="provider-info mt-3">
                            <div class="provider-label mb-1">
                              <strong class="fw-bold fs-5 ">Proveedor:</strong>
                            </div>
                            <div class="d-flex align-items-center">
                              <img th:src="@{../../images/product/iconoProvedor.png}" alt="Proveedor Icono" class="me-2" style="width: 40px; height: 40px;">
                              <span class="provider-name" th:text="${product.proveedorIdproveedor.tienda}">Nombre del Proveedor</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end row -->

                <div class="mt-4">
                  <!--<h5 class="font-size-14 mb-3">Descripción del producto: </h5> -->
                  <div class="product-desc">
                    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="desc-tab" data-bs-toggle="tab" href="#desc" role="tab">Descripción</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " id="specifi-tab" data-bs-toggle="tab" href="#specifi" role="tab">Especificaciones</a>
                      </li>
                    </ul>
                    <div class="tab-content border border-top-0 p-4">
                      <div class="tab-pane fade show active" id="desc" role="tabpanel">
                        <div th:text="${product.descripcion}"></div>

                      </div>
                      <div class="tab-pane fade " id="specifi" role="tabpanel">
                        <div class="table-responsive">
                          <table class="table table-nowrap mb-0">
                            <tbody>
                            <tr>
                              <th scope="row" style="width: 400px;">Categoría</th>
                              <td th:text="${product.subcategoriaIdsubcategoria.categoriaIdcategoria.nombre}"></td>
                            </tr>

                            <tr>
                              <th scope="row">Subcategoría</th>
                              <td th:text="${product.subcategoriaIdsubcategoria.nombre}"></td>
                            </tr>
                            <tr>
                              <th scope="row">Marca</th>
                              <td th:text="${product.marca}"></td>
                            </tr>
                            <tr>
                              <th scope="row">Color</th>
                              <td th:text="${product.color}"></td>

                            </tr>
                            <tr>
                              <th scope="row">Material</th>
                              <td th:text="${product.material}"></td>
                            </tr>
                            <tr>
                              <th scope="row">Peso</th>
                              <td th:text="${product.peso} + ' kg'"></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>

                <div class="mt-4 " th:if="${productList.size() != 1}">
                  <h5 class="font-size-14">Otras recomendaciones:</h5>
                  <div class="row">
                    <!-- Iterar sobre productList y mostrar productos excluyendo el actual -->
                    <div th:each="producto, iterStat : ${productList}"
                         th:if="${iterStat.index < 4 and producto.id != currentId}"
                         class="col-md-3">
                      <div class="card product-box">
                        <a th:href="@{'/usuario/productoDetalles?id='+${producto.id}}" class="text-decoration-none">

                          <div th:if="${producto.id >= 1 and producto.id <= 10}">
                            <img th:src="@{|../../images/product/product${producto.id}.jpg|}" alt="img-${producto.id}"
                                 class="img-fluid mx-auto d-block" style="width: 250px; height: 250px; object-fit: cover;">
                          </div>
                          <div class="text-center mt-3">
                            <p class="font-size-12 mb-1 text-primary">
                              <span th:text="${producto.subcategoriaIdsubcategoria.nombre}">Categoría, Subcategoría</span>
                            </p>
                            <h5 class="font-size-15">
                              <a th:text="${producto.nombre}" class="text-reset">Product Name</a>
                            </h5>

                            <h5 class="mt-2" style="font-size: 14px;">
                              S/ <span th:text="${producto.precio}">100</span>
                              <span style="font-size: 12px; color: #888;">por unidad</span>
                            </h5>

                          </div>

                          <div class="provider-info d-flex align-items-center justify-content-center">
                            <img th:src="@{../../images/product/iconoProvedor.png}" alt="Proveedor Icono" class="rounded-circle me-2" style="width: 30px; height: 30px;">
                            <span th:text="${producto.proveedorIdproveedor.tienda}" class="provider-name">Nombre del proveedor</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>




              </div>

            <!-- end card -->
          </div>
        </div>
        </div>
      </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <script>document.write(new Date().getFullYear())</script> © TRADO.
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->
</body>

</html>