<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="utf-8" />
    <title>Perfil | TRADO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <div th:insert="Common/cssBase :: css_Base"></div>
    <!-- End CSS BASE -->

</head>

<body data-sidebar="dark">

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="Usuario/fragments/navbar :: nav_bar"></header>
    <!-- Navbar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="Usuario/fragments/sidebar :: side_bar"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Perfil</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">Inicio</li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Perfil</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main">
                    <!-- Mensajes de éxito y error -->
                    <div id="error-message" class="alert alert-danger" style="display: none;" role="alert"></div>
                    <div id="success-message" class="alert alert-success" style="display: none;" role="alert"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Foto de perfil</h5>
                                </div>
                                <div class="card-body user-profile-header d-flex flex-column align-items-center mb-4">
                                    <div class="flex-shrink-0 mt-3 mb-3">
                                        <!-- Usar la ruta de la foto del usuario desde el modelo -->
                                        <img id="fotoUsuario" th:src="@{/usuario/usuarioFoto/{id}(id=${usuario.id})}"
                                             src="/images/default.jpg"
                                             onerror="this.onerror=null;this.src='/images/default.jpg';"
                                             alt="user image" class="d-block rounded-circle"

                                             style="width: 150px; height: 150px; object-fit: cover;"><br>
                                    </div>
                                    <p class="text-dark mb-0 mt-2" th:text="${usuario.nombre} + ' ' + ${usuario.apellido}" style="font-size: 20px;">Nombre del Usuario</p>
                                    <p class="text-muted mb-0" th:text="${usuario.rolIdrol.nombre}"></p><br>
                                    <!-- Estado de Actividad -->
                                    <p class="btn" th:classappend="${usuario.isActivated == 1} ? 'btn-success' : 'btn-danger'" th:text="${usuario.isActivated == 1} ? 'Activo' : 'Inactivo'"></p>

                                    <!-- <div class="mt-3 text-center">
                                         <label for="upload" class="btn" style="background-color: purple; color: #ffffff; border: 2px solid #800080;  border-radius: 8px; font-size: 14px; cursor: pointer; transition: background-color 0.3s, border-color 0.3s;" tabindex="0">
                                             <span class="d-none d-sm-block">Actualizar foto de perfil</span>
                                             <i class="bx bx-upload d-block d-sm-none"></i>
                                             <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" name="profilePhoto">
                                         </label>
                                     </div> -->
                                </div>

                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Información personal</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3 col-md-12">
                                                <label for="firstName" class="form-label" style="font-size: 18px;">Nombres</label>
                                                <p class="form-control-plaintext" style="font-size: 16px;" id="firstName" th:text="${usuario.nombre}"></p>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="lastName" class="form-label" style="font-size: 18px;">Apellidos</label>
                                                <p class="form-control-plaintext" style="font-size: 16px;" id="lastName" th:text="${usuario.apellido}"></p>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="email" class="form-label" style="font-size: 18px;"><strong>Correo electrónico</strong></label>
                                                <p class="form-control-plaintext" style="font-size: 16px;" id="email" th:text="${usuario.correo}"></p>
                                            </div>
                                            <!--Campo editable -->
                                            <div class="mb-3 col-md-6">
                                                <label for="phoneNumber" class="form-label" style="font-size: 18px;">Teléfono</label>
                                                <p class="form-control-plaintext" style="font-size: 16px;" id="phoneNumber" th:text="${usuario.telefono}"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3 col-md-6">
                                                <label for="districto" class="form-label" style="font-size: 18px;">Distrito</label>
                                                <p class="form-control-plaintext" style="font-size: 16px;" id="districto" th:text="${usuario.distritoIddistrito.nombre}"></p>
                                            </div>

                                            <!--Campo editable -->

                                            <div class="mb-3 col-md-6">
                                                <label for="direccion" class="form-label" style="font-size: 18px;">Dirección</label>
                                                <div class="d-flex align-items-center">
                                                    <p class="form-control-plaintext mb-0" style="font-size: 16px;" id="direccion" th:text="${usuario.direccion}"></p>
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="birthday" class="form-label" style="font-size: 18px;">Fecha de Nacimiento</label>
                                                <p class="form-control-plaintext" style="font-size: 16px;" id="birthday" th:text="${#temporals.format(usuario.fechaNacimiento , 'dd-MM-yyyy')}"></p>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="rol" class="form-label" style="font-size: 18px;">Rol</label>
                                                <p class="form-control-plaintext" style="font-size: 16px;" id="rol" th:text="${usuario.rolIdrol.nombre}"></p>
                                            </div>
                                        </div>
                                        <div class="row-cols-7 text-end">
                                            <a th:href="@{/usuario/editProfile}" class="btn btn-success btn-sm ms-2" >Editar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Bloque de Detalles de Perfil
                        <div class="col-md-9">
                            <div class="card mb-12">
                                <h5 class="card-header">Información personal</h5>

                                <div class="card-body">
                                    <form  enctype="multipart/form-data">
                                        <input type="hidden" name="action" value="updateProfile1">
                                        <input type="hidden" name="resetPhoto" id="resetPhoto" value="false">

                                       <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="firstName" class="form-label">Nombres</label>
                                                <p class="form-control-plaintext" id="firstName" th:text="${usuario.nombre}">Nombre del Usuario</p>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="lastName" class="form-label">Apellidos</label>
                                                <p class="form-control-plaintext" id="lastName" th:text="${usuario.apellido}">Apellido del Usuario</p>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="email" class="form-label">Correo Electrónico</label>
                                                <p class="form-control-plaintext" id="email" th:text="${usuario.correo}">correo@ejemplo.com</p>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="phoneNumber" class="form-label">Teléfono</label>
                                                <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" th:value="${usuario.telefono}" required>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="direccion" class="form-label">Dirección</label>
                                                <input class="form-control" type="text" id="direccion" name="direccion" th:value="${usuario.direccion}" required>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="birthday" class="form-label">Fecha de Nacimiento</label>
                                                <p class="form-control-plaintext" id="birthday" th:text="${usuario.fechaNacimiento}">01/01/1990</p>
                                            </div>
                                        </div>

                                        <div class="mt-2">
                                            <a href="/usuario/inicio" type="submit" class="btn btn-primary me-2" style="background-color: purple; color: #ffffff; border: 2px solid #800080;  border-radius: 8px; font-size: 14px; cursor: pointer; transition: background-color 0.3s, border-color 0.3s;" tabindex="0">Guardar cambios</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © TRADO.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Creado con <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<div th:insert="Common/jsBase :: js_Base"></div>
<!-- End JAVASCRIPT BASE-->

<!--JAVASCRIPT NOTIFICACIONES-->
<span th:replace="~{Usuario/fragments/notificaciones-scripts :: js_Notificaciones}"></span>
<!-- End JAVASCRIPT NOTIFICACIONES-->


</body>

</html>
