<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<head>
    <meta charset="utf-8" />
    <title>Ver Publicación</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="~{Usuario/fragments/navbar :: nav_bar}"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="~{Usuario/fragments/sidebar :: side_bar}"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Publicación</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">Inicio</li>
                                    <li class="breadcrumb-item active">Foro</li>
                                    <li class="breadcrumb-item active">Comunidad</li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ver</a></li>

                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">

                    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <span th:text="${successMessage}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Sección del usuario -->
                                    <div class="col-md-2 text-center">
                                        <div class="mb-2">
                                            <!-- Mostrar el nombre del usuario que publicó la publicación -->
                                            <span class="provider-name fw-bold" th:text="${publicacion.usuarioIdusuario.nombre} + ', ' + ${publicacion.usuarioIdusuario.apellido}" >Nombre del Usuario</span>
                                        </div>

                                        <!-- Mostrar una imagen del usuario o un ícono genérico -->
                                        <div class="provider-info d-flex align-items-center justify-content-center">
                                            <img th:src="@{/usuario/usuarioFoto/{id}(id=${publicacion.usuarioIdusuario.id})}"
                                                 src="/images/default.jpg"
                                                 onerror="this.onerror=null;this.src='/images/default.jpg';"
                                                 alt="Proveedor Icono" class="rounded-circle me-2" style="width: 100px; height: 100px;">
                                        </div>

                                        <!-- Mostrar la fecha de creación de la publicación -->
                                        <div class="mb-2">
                                            <p class="mt-2 card-title-desc" style="font-size: 12px;">
                                                <span th:text="${publicacion.fechaCreacion}">11 de Octubre de 2024</span>
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Sección de la publicación -->
                                    <div class="col-md-10 justify-content-center">
                                        <!-- Mostrar el título de la publicación -->
                                        <h5 class="text-center" th:text="${publicacion.titulo}">Mi Experiencia con TRADO</h5>

                                        <!-- Mostrar el contenido de la publicación -->
                                        <p class="text-justify" th:text="${publicacion.cuerpo}" >
                                            <!-- Aquí va el contenido dinámico de la publicación -->
                                        </p>
                                    </div>
                                    <ul class="list-inline product-review-link mb-0">
                                        <li class="list-inline-item">
                                            <form th:action="@{/usuario/publicacion/{id}/like(id=${publicacion.id})}" method="post" style="display: inline;">
                                                <button type="submit" class="btn btn-link" style="border: none; padding: 0; color: inherit;">
                                                    <i class="mdi mdi-thumb-up align-middle me-1"></i>
                                                    <b th:text="${publicacion.likes}"></b> Likes
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Sección para añadir comentarios -->
                        <div class="card mt-4">
                            <div class="card-body">
                                <h6>Añadir un Comentario</h6>
                                <!-- Formulario para enviar un comentario -->
                                <form th:action="@{/usuario/agregarComentario}" method="post">
                                    <div class="mb-3">
                                        <label for="comment-text" class="form-label">Comentario:</label>
                                        <!-- Campo de texto para ingresar el comentario -->
                                        <textarea class="form-control" id="comment-text" name="cuerpo" rows="3" placeholder="Escribe tu comentario aquí..." required></textarea>
                                    </div>
                                    <!-- Campo oculto para enviar el ID de la publicación -->
                                    <input type="hidden" name="publicacionId" th:value="${publicacion.id}" />
                                    <!-- Botón para enviar el comentario -->
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                            </div>
                        </div>



                        <div class="card mt-4">
                            <div class="card-body">
                                <h6>Ver comentarios</h6>

                                <!-- Verifica si la lista de comentarios está vacía -->
                                <div th:if="${#lists.isEmpty(comentarios)}" class="text-center">
                                    <p>Aún no hay comentarios</p>
                                </div>

                                <!-- Mostrar comentarios si la lista no está vacía -->
                                <div th:if="${!#lists.isEmpty(comentarios)}">
                                    <div class="border p-4 rounded" th:each="comentario : ${comentarios}">
                                        <div class="d-flex border-bottom pb-3">
                                            <div class="flex-1">
                                                <p class="text-muted mb-2" th:text="${comentario.cuerpo}">
                                                    To an English person, it will seem like simplified English, as a skeptical Cambridge
                                                </p>
                                                <h5 class="font-size-15 mb-3" th:text="${comentario.usuarioIdusuario.nombre} + ', ' + ${comentario.usuarioIdusuario.apellido}">
                                                    James
                                                </h5>




                                                <ul class="list-inline product-review-link mb-0">
                                                    <li class="list-inline-item">
                                                        <form th:action="@{/usuario/comentario/{id}/like(id=${comentario.id})}" method="post" style="display: inline;">
                                                            <button type="submit" class="btn btn-link" style="border: none; padding: 0; color: inherit;">
                                                                <i class="mdi mdi-thumb-up align-middle me-1"></i>
                                                                <b th:text="${comentario.likes}"></b> Likes
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div style="width: 60px; height: 60px; margin-left: 15px;">
                                                <img th:src="@{/usuario/usuarioFoto/{id}(id=${comentario.usuarioIdusuario.id})}"
                                                     src="/images/default.jpg"
                                                     onerror="this.onerror=null;this.src='/images/default.jpg';"
                                                     alt="Foto de perfil"
                                                     class="img-fluid rounded-circle"
                                                     style="width: 100%; height: 100%; object-fit: cover;">
                                            </div>


                                        </div>

                                        <p class="float-sm-end font-size-12" th:text="${comentario.fechaCreacion}">11 Feb, 2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            function showReplyForm(event, formId) {
                                event.preventDefault();
                                document.getElementById(formId).style.display = 'block';
                            }

                            function hideReplyForm(formId) {
                                document.getElementById(formId).style.display = 'none';
                            }
                        </script>

                    </div>

                </div>
            </div> <!-- container-fluid -->
        </div>
    </div>
</div>


</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © TRADO.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->

<!--JAVASCRIPT NOTIFICACIONES-->
<span th:replace="~{Usuario/fragments/notificaciones-scripts :: js_Notificaciones}"></span>
<!-- End JAVASCRIPT NOTIFICACIONES-->
</body>

</html>