<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<head>
    <meta charset="utf-8" />
    <title>Ver Reseña | TRADO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="~{Usuario/fragments/navbar :: nav_bar}"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="~{Usuario/fragments/sidebar :: side_bar}"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h2 class="mb-sm-0">Foro </h2>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Foro</a></li>
                                    <li class="breadcrumb-item active">Pagina Principal</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="d-lg-flex mb-4">
                    <div class="chat-leftsidebar">

                        <div class="chat-leftsidebar-nav">
                            <div class="p-4">
                                <div class="card-body border-top">
                                    <div>
                                        <div style="border: 2px solid #ccc; border-radius: 8px; padding: 10px; background-color: #f9f9f9;">
                                            <h5 class="font-size-14 mb-0">
                                                <a href="#collapseExample1" class="text-reset d-block" data-bs-toggle="collapse">
                                                    Agregar nuevo comentario
                                                    <i class="mdi mdi-plus float-end accor-plus-icon"></i>
                                                </a>
                                            </h5>
                                        </div>


                                        <div class="collapse" id="collapseExample1">
                                            <div class="custom-accordion">
                                                <div class="mt-4">
                                                    <ul class="nav nav-pills flex-column">


                                                        <li class="nav-item mb-3">
                                                            <a href="#" class="btn btn-link d-flex align-items-center text-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2">
                                                                <i class="bi bi-chat-right-text font-size-20 me-2"></i>  <span class="mx-2">Agregar nueva resena</span>
                                                            </a>
                                                        </li>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalCenterTitle2">Agregar nueva resena</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <form id="consultaForm2">
                                                                        <div class="modal-body">
                                                                            <!-- Campos del formulario -->
                                                                            <div class="row mb-3">
                                                                                <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: space-between;">
                                                                                    <div>
                                                                                        <label class="form-label fw-bolder fs-5">Ingrese un título *</label>
                                                                                        <input type="text" class="form-control" name="titulo" placeholder="Ingrese el título aquí" maxlength="25" required>
                                                                                        <small class="form-text text-muted">Ingrese un máximo de 25 caracteres</small>
                                                                                    </div>
                                                                                    <div>
                                                                                        <label class="form-label fw-bolder fs-5">¿Cómo calificaría la calidad del producto? ¿Lo recomienda?</label>
                                                                                        <textarea class="form-control" name="cuerpo" rows="5" placeholder="Ingrese el cuerpo de la publicación aquí" maxlength="250"></textarea>
                                                                                        <small class="form-text text-muted">Ingrese un máximo de 250 caracteres</small>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: space-between;">
                                                                                    <div class="container mt-4">
                                                                                        <form action="#" class="dropzone" id="my-dropzone">
                                                                                            <div class="dz-message needsclick text-center">
                                                                                                <div class="border border-primary rounded p-4"> <!-- Contenedor para todo -->
                                                                                                    <div class="mb-3">
                                                                                                        <i class="display-4 text-muted ri-upload-cloud-2-line"></i>
                                                                                                    </div>
                                                                                                    <h4 class="text-primary">Arrastra tus archivos aquí o haz clic para cargar.</h4>
                                                                                                    <p class="text-muted">Soporta múltiples archivos. Tamaño máximo: 5 MB por archivo.</p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="fallback">
                                                                                                <input name="file" type="file" multiple="multiple" class="form-control" />
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>

                                                                                </div>
                                                                            </div>

                                                                            <div class="mb-3 col-md-12">
                                                                                <label class="form-label fw-bolder fs-5">¿Cómo calificaría el tiempo de entrega del pedido?</label>

                                                                                <!-- Contenedor para las estrellas -->
                                                                                <div class="rating" style="display: flex; justify-content: space-between; width: 300px;">
                                                                                    <input type="radio" id="star1" name="rating" value="1" />
                                                                                    <label for="star1" title="1 estrella" style="margin: 0 10px;">1</label>

                                                                                    <input type="radio" id="star2" name="rating" value="2" />
                                                                                    <label for="star2" title="2 estrellas" style="margin: 0 10px;">2</label>

                                                                                    <input type="radio" id="star3" name="rating" value="3" />
                                                                                    <label for="star3" title="3 estrellas" style="margin: 0 10px;">3</label>

                                                                                    <input type="radio" id="star4" name="rating" value="4" />
                                                                                    <label for="star4" title="4 estrellas" style="margin: 0 10px;">4</label>

                                                                                    <input type="radio" id="star5" name="rating" value="5" />
                                                                                    <label for="star5" title="5 estrellas" style="margin: 0 10px;">5</label>
                                                                                </div>


                                                                                <small class="form-text text-muted">Seleccione una calificación donde 1 es pésimo y 5 es óptimo</small>
                                                                            </div>
                                                                            <div class="mb-3 col-md-12">
                                                                                <label class="form-label fw-bolder fs-5">¿Cómo calificaría la atención del agente?</label>

                                                                                <div class="rating" style="display: flex; justify-content: space-between; width: 300px;">


                                                                                    <input type="radio" id="agent-star1" name="agent-rating" value="1" />
                                                                                    <label for="agent-star1" title="1 estrella" style="margin: 0 10px;">1</label>

                                                                                    <input type="radio" id="agent-star2" name="agent-rating" value="2" />
                                                                                    <label for="agent-star2" title="2 estrellas" style="margin: 0 10px;">2</label>

                                                                                    <input type="radio" id="agent-star3" name="agent-rating" value="3" />
                                                                                    <label for="agent-star3" title="3 estrellas" style="margin: 0 10px;">3</label>

                                                                                    <input type="radio" id="agent-star4" name="agent-rating" value="4" />
                                                                                    <label for="agent-star4" title="4 estrellas" style="margin: 0 10px;">4</label>

                                                                                    <input type="radio" id="agent-star5" name="agent-rating" value="5" />
                                                                                    <label for="agent-star5" title="5 estrellas" style="margin: 0 10px;">5</label>
                                                                                </div>



                                                                                <small class="form-text text-muted">Seleccione una calificación donde 1 es pésimo y 5 es óptimo</small>   </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                                            <button type="submit" class="btn btn-primary">Publicar</button>
                                                                        </div>
                                                                    </form>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div>


                                                        <li class="nav-item mb-3">
                                                            <a href="#" class="btn btn-link d-flex align-items-center text-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                                                <i class="bi bi-question-circle font-size-20 me-2"></i>   <span class="mx-2">Agregar nueva consulta</span>
                                                            </a>
                                                        </li>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Agregar nueva consulta</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <form id="consultaForm">
                                                                        <div class="modal-body">
                                                                            <!-- Campos del formulario -->
                                                                            <div class="mb-3 col-md-12">
                                                                                <label class="form-label fw-bolder fs-5">Ingrese un título *</label>
                                                                                <input type="text" class="form-control" name="titulo" placeholder="Ingrese el título aquí" maxlength="25" required>
                                                                                <small class="form-text text-muted">Ingrese un máximo de 25 caracteres</small>
                                                                            </div>
                                                                            <div class="mb-3 col-md-12">
                                                                                <label class="form-label fw-bolder fs-5">Ingrese el cuerpo de la publicación</label>
                                                                                <textarea class="form-control" name="cuerpo" rows="5" placeholder="Ingrese el cuerpo de la publicación aquí" maxlength="250"></textarea>
                                                                                <small class="form-text text-muted">Ingrese un máximo de 250 caracteres</small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                                            <button type="submit" class="btn btn-primary">Publicar</button>
                                                                        </div>
                                                                    </form>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /.modal -->

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-4 mb-1">

                        <div class="tab-content py-4">
                            <div class="tab-pane show active" id="chat">
                                <div>
                                    <h5 class="font-size-18 px-3 mb-3 fw-bold">Categoría</h5>
                                    <ul class="list-unstyled chat-list" data-simplebar style="max-height: 345px;">
                                        <li>
                                            <a href="/usuario/foro">
                                                <div class="d-flex">
                                                    <div class="flex-1 overflow-hidden">
                                                        <h5 class="text-truncate font-size-14 mb-1">resenas de productos</h5>

                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="/usuario/foroConsultas">
                                                <div class="d-flex">
                                                    <div class="flex-1 overflow-hidden">
                                                        <h5 class="text-truncate font-size-14 mb-1">Consultas generales</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="active">
                                            <a href="/usuario/foroProblema">
                                                <div class="d-flex">
                                                    <div class="flex-1 overflow-hidden">
                                                        <h5 class="text-truncate font-size-14 mb-1">Problemas y soluciones</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-100 user-chat mt-4 mt-sm-0">
                        <div class="p-3 px-lg-4 user-chat-border">
                            <div class="row">

                                <div class="col-md-12">
                                    <ul class="list-inline user-chat-nav text-end mb-0">

                                        <li class="list-inline-item">
                                            <div class="dropdown">
                                                <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="mdi mdi-dots-horizontal"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="list-inline-item">
                                            <div class="dropdown">
                                                <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="mdi mdi-cog"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#">View Profile</a>
                                                    <a class="dropdown-item" href="#">Clear chat</a>
                                                    <a class="dropdown-item" href="#">Muted</a>
                                                    <a class="dropdown-item" href="#">Delete</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="list-inline-item ms-auto">
                                            <div class="search-box">
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" placeholder="Buscar...">
                                                    <i class="mdi mdi-magnify search-icon"></i>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="px-lg-2">
                            <div class="chat-conversation p-3">
                                <ul class="list-unstyled mb-0 pe-3" data-simplebar style="max-height: 450px;">
                                    <li>
                                        <div class="conversation-list">
                                            <div class="row align-items-start">
                                                <!-- Columna para la imagen -->
                                                <div class="col-auto chat-avatar">
                                                    <img src="/images/users/avatar-4.jpg" alt="avatar-2" class="rounded-circle" style="width: 50px; height: 50px;">
                                                </div>
                                                <!-- Columna para el texto -->
                                                <div class="col">
                                                    <div class="conversation-name fw-bold text-dark">Bellita Cacho</div>
                                                    <h6 class="text-muted mb-4">Enviado a las 2:52 del 23 de febrero</h6>

                                                    <div class="ctext-wrap-content">
                                                        <p class="mb-0">Mi pago fue rechazado. ¿Qué puedo hacer?</p>
                                                    </div>
                                                </div>
                                                <!-- Icono de ojo al lado derecho del mensaje -->

                                            </div>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="right">
                                        <div class="conversation-list d-flex justify-content-end align-items-start">
                                            <!-- Contenido del mensaje y el nombre -->
                                            <div class="ctext-wrap">
                                                <div class="d-flex flex-column">
                                                    <div class="conversation-name fw-bold text-dark">Cesar Santigod</div>
                                                    <h6 class="text-muted mb-3 text-end">Respondido a las 2:52 del 24 de febrero</h6>
                                                    <div class="ctext-wrap-content">
                                                        <p class="mb-0">
                                                            Si tu pago fue rechazado, primero verifica que hayas ingresado correctamente los datos de tu tarjeta o método de pago. Asegúrate también de que tu tarjeta tenga suficiente dinero y que no haya ningún problema con tu banco. Si todo parece estar bien pero aún así no funciona, prueba con otro método de pago o contacta al soporte para que te ayuden a resolver el problema.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Avatar alineado a la derecha fuera del ctext-wrap -->
                                            <div class="chat-avatar ms-2">
                                                <img src="/images/users/avatar-6.jpg" alt="avatar-2" class="rounded-circle" style="width: 50px; height: 50px;">
                                            </div>
                                        </div>
                                    </li>








                                </ul>
                            </div>

                        </div>
                        <div class="px-lg-3">
                            <div class="p-3 chat-input-section">
                                <div class="row">
                                    <div class="col">
                                        <div class="position-relative">
                                            <input type="text" class="form-control chat-input" placeholder="Escribir respuesta...">

                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block me-2">Enviar</span> <i class="mdi mdi-send"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
    </div>
</div>


</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © TRADO.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Creado con <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->

<!--JAVASCRIPT NOTIFICACIONES-->
<span th:replace="~{Usuario/fragments/notificaciones-scripts :: js_Notificaciones}"></span>
<!-- End JAVASCRIPT NOTIFICACIONES-->
</body>

</html>