<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- @thymesVar id="usuarioAutenticado" type="com.app.tradogt.entity.Usuario" -->
<body>
    <header th:fragment="nav_bar" id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box" style="background-color: #220135;">

                <!-- #240046 #3f288d #45147e  #4a006f  #220135  #190028-->
                <a href="#" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img th:src="@{/images/logo-sm-dark.png}" alt="logo-sm-dark" height="22">
                                </span>
                    <span class="logo-lg">
                                    <img th:src="@{/images/logo-dark.png}" alt="logo-dark" height="20">
                                </span>
                </a>

                <a href="#" class="logo logo-light">
                                <span class="logo-sm">
                                    <img th:src="@{/images/trado.png}" alt="logo-sm-light" height="33">
                                </span>
                    <span class="logo-lg">
                                    <img th:src="@{/images/trado-light.png}" alt="logo-light" height="40">
                                </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                <i class="ri-menu-2-line align-middle"></i>
            </button>

            <div class="d-flex justify-content-center align-items-center">
                <span class="text-center" >IMPORTADOR</span>
            </div>



        </div>

        <div class="d-flex">


          <!--  <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                    <i class="ri-fullscreen-line"></i>
                </button>
            </div> -->

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect">
                    <a href="/usuario/carrito" class="position-relative">
                        <i class="ri-shopping-cart-2-fill"></i>
                        <span class="noti-dot position-absolute top-0 start-100 translate-middle bg-success" style="display: inline-block;width: 20px; height: 20px;background-color: #28a745; color: white; border-radius: 50%; text-align: center; line-height: 25px; font-size: 10px; font-weight: bold;top: -10px; right: -10px; ">
                <span th:text="${cantidadProductosEnCarrito}"></span>
            </span>
                    </a>
                </button>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ri-notification-3-line"></i>

                </button>
               <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                     aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0"> Notifications </h6>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="small"> View All</a>
                            </div>
                        </div>
                    </div>
                   <div id="notification-container" data-simplebar style="max-height: 230px; overflow-y: auto;">
                       <!-- Aquí se insertarán las notificaciones dinámicas -->
                   </div>
                    <div class="p-2 border-top">
                        <div class="d-grid">
                            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                <i class="mdi mdi-arrow-right-circle me-1"></i> View More..
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown d-inline-block user-dropdown">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user"
                         th:src="@{'/uploads/fotosUsuarios/' + ${usuarioAutenticado.foto}}"
                         src="/images/default.jpg"
                         onerror="this.onerror=null;this.src='/images/default.jpg';"
                         alt="Header Avatar">

                    <!-- Mostrar el nombre del usuario autenticado -->
                    <span class="d-none d-xl-inline-block ms-1" th:text="${usuarioAutenticado.nombre}+' '+${usuarioAutenticado.apellido}" ></span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" th:href="@{/usuario/perfil}"><i class="ri-user-line align-middle me-1"></i>Mi Perfil</a>
                    <a class="dropdown-item d-block" href="/usuario/contraseña"><i class="ri-settings-2-line align-middle me-1"></i>Cambiar Contraseña</a>
                    <div class="dropdown-divider"></div>
                    <div th:if="${session.impersonation}">
                        <form th:action="@{/superadmin/exit}" method="post" style="display: inline;">
                            <button type="submit" class="dropdown-item text-danger" style="border: none; background: none;">
                                <i class="ri-arrow-go-back-line align-middle me-1 text-danger"></i>Finalizar Suplantación
                            </button>
                        </form>
                    </div>
                    <div th:unless="${session.impersonation}" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" style="display: inline;">
                            <button type="submit" class="dropdown-item text-danger" style="border: none; background: none;">
                                <i class="ri-shut-down-line align-middle me-1 text-danger"></i> Cerrar sesión
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
</body>
</html>