<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <body>
    <div th:fragment="side_bar" class="vertical-menu" style="background-color: #220135;">
      <div data-simplebar class="h-100">

      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu">
          <li class="menu-title">Menu</li>

          <li>
            <a href="#" class="waves-effect">
              <i class="ri-home-2-fill"></i>
              <span>Inicio</span>
            </a>
          </li>
          <li class="menu-title">Tienda</li>
          <li>
            <a href="#" class=" waves-effect">
              <i class="ri-shopping-cart-2-fill"></i>
              <span>Productos de la tienda</span>
            </a>
          </li>
          <li class="menu-title">Ordenes</li>
          <li>
            <a href="#" class="waves-effect">
              <i class="ri-table-fill"></i>
              <span>Lista de pedidos</span>
            </a>
          </li>
          <li class="menu-title">Postulación Agente</li>
          <li>
            <a href="#" class=" waves-effect">
              <i class="ri-file-user-fill"></i>
              <span>Registrar Solicitud</span>
            </a>
          </li>
          <li class="menu-title">FAQ</li>
          <li>
            <a href="#" class="has-arrow waves-effect">
              <i class="ri-wechat-fill"></i>
              <span>FAQ</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li>
                <a href="#" class="waves-effect">
                  <i class="ri-wechat-line"></i>
                  <span>Foro</span>
                </a>
              </li>
              <li>
                <a href="#" class="waves-effect">
                  <i class="ri-questionnaire-line"></i>
                  <span>Preguntas frecuentes</span>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </div>

      <!-- Sidebar -->
    </div>
    </div>
  </body>
</html>