<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Editar Zonal | TRADO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS BASE -->
        <meta th:replace="~{Common/cssBase :: css_Base}">
        <!-- End CSS BASE -->

    </head>

    <body data-sidebar="dark">
    
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            <!-- ========== NavBar Start ========== -->
            <header th:replace="~{SuperAdmin/fragments/navbar :: nav_bar}"></header>
            <!-- Navbar End -->
            <!-- ========== Left Sidebar Start ========== -->
            <div th:replace="~{SuperAdmin/fragments/sidebar :: side_bar}"></div>
            <!-- Left Sidebar End -->
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Actualización de Administradores Zonales</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Administrador Zonal</a></li>
                                            <li class="breadcrumb-item active">Actualizar Administrador</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="align-content-center-xl-6">
                                <div class="card">
                                    <div class="card-body" style="padding: 30px">
                                        <h4 class="card-title fw-bold">Observaciones:</h4>
                                        <span style="display: block; padding-bottom: 10px;">- El DNI ingresado debe de tener 8 dígitos y debe existir en RENIEC.</span>
                                        <span style="display: block; padding-bottom: 10px;">- El nombre ingresado debe coincidir con el registrado en RENIEC.</span>
                                        <span style="display: block; padding-bottom: 10px;">- El apellido ingresado debe coincidir con el registrado en RENIEC.</span>
                                        <span style="display: block; padding-bottom: 10px;">- Solo puede haber 2 administradores zonales por cada zona.</span>
                                        <h4 class="card-title fw-bold">Datos de registro:</h4>

                                        <form th:object="${usuario}" th:action="@{/superadmin/admZonalEditar}" method="post" class="needs-validation" novalidate>
                                            <div class="row">
                                                <input type="hidden" th:field="*{id}" />
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="nombreUsuario" class="form-label">Nombres</label>
                                                        <input type="text" class="form-control" id="nombreUsuario" name="nombre" th:field="*{nombre}" placeholder="Ingrese sus nombres" disabled style="background-color: #e9ecef;" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="apellidoUsuario" class="form-label">Apellidos</label>
                                                        <input type="text" class="form-control" id="apellidoUsuario" name="apellido"
                                                               th:field="*{apellido}" placeholder="Ingrese sus apellidos" disabled style="background-color: #e9ecef;" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="dniUsuario" class="form-label">DNI</label>
                                                        <input type="text" class="form-control" id="dniUsuario" name="dni"
                                                               th:field="*{dni}" placeholder="Ingrese su DNI" disabled style="background-color: #e9ecef;" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="telefonoUsuario" class="form-label">Teléfono</label>
                                                        <input type="text" class="form-control" id="telefonoUsuario" name="telefono"
                                                               th:field="*{telefono}" placeholder="Ingrese su teléfono" required maxlength="9" oninput="validatePhone(this)" >
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                                                        <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" th:value="*{fechaNacimiento}" disabled style="background-color: #e9ecef;" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="correoUsuario" class="form-label">Correo electrónico</label>
                                                        <input type="email" class="form-control" id="correoUsuario" name="correo"
                                                               th:field="*{correo}" placeholder="Ingrese su correo electrónico" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="zonaIdzona" class="form-label">Zona</label>
                                                        <select class="form-select" id="zonaIdzona" name="zonaIdzona" required>
                                                            <option disabled value="">Seleccione una zona</option>
                                                            <option th:each="zona : ${zonas}" th:value="${zona.id}" th:text="${zona.nombre}" th:selected="${zona.id} == ${usuario.zonaIdzona.id}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid state.
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="rolIdrol" th:value="${rol.id}" />
                                                <input type="hidden" name="isActivated" th:value="${usuario.isActivated}" />
                                                <input type="hidden" name="isAccepted" th:value="${usuario.isAccepted}" />
                                            </div>
                                            <div>
                                                <button class="btn btn-primary" type="submit">Guardar</button>
                                                <a th:href="${usuario.isActivated == 1 ? '/superadmin/admZonalActivos' : '/superadmin/admZonalInactivos'}" class="btn btn-danger">Cancelar</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div> <!-- end col -->

                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                <span th:replace="~{Common/footer :: footerCommon}"></span>
                
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->


        <!-- JAVASCRIPT BASE-->
        <span th:replace="~{Common/jsBase :: js_Base}"></span>
        <!-- End JAVASCRIPT BASE-->
    <script>
        function validateDNI(input) {
            // Remove non-numeric characters
            input.value = input.value.replace(/[^0-9]/g, '');
            // Limit to 8 characters
            if (input.value.length > 8) {
                input.value = input.value.slice(0, 8);
            }
        }
        function validatePhone(input) {
            // Remove non-numeric characters
            input.value = input.value.replace(/[^0-9]/g, '');
            // Limit to 8 characters
            if (input.value.length > 8) {
                input.value = input.value.slice(0, 9);
            }
        }
    </script>
    </body>

</html>
