<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Editar Compra | TRADO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS BASE -->
        <meta th:replace="~{Common/cssBase :: css_Base}">
        <!-- End CSS BASE -->

    </head>

    <body data-sidebar="dark">
    
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            <!-- ========== NavBar Start ========== -->
            <header th:replace="~{SuperAdmin/fragments/navbar :: nav_bar}"></header>
            <!-- Navbar End -->
            <!-- ========== Left Sidebar Start ========== -->
            <div th:replace="~{SuperAdmin/fragments/sidebar :: side_bar}"></div>
            <!-- Left Sidebar End -->
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Actualización de Agentes de Compra</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Agentes</a></li>
                                            <li class="breadcrumb-item active">Editar Agentes</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="align-content-center-xl-6">
                                <div class="card">
                                    <div class="card-body" style="padding: 30px">
                                        <h4 class="card-title fw-bold">Datos de registro:</h4>
                                        <form class="needs-validation" th:object="${usuario}" th:action="@{/superadmin/agentCompraEditar}" method="post" novalidate>
                                            <input type="hidden" th:field="*{id}" />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="nombreUsuario" class="form-label">Nombre</label>
                                                        <input type="text" class="form-control" th:field="*{nombre}" id="nombreUsuario" name="nombre"
                                                               placeholder="First name" disabled style="background-color: #e9ecef;" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="apellidoUsuario" class="form-label">Apellido</label>
                                                        <input type="text" class="form-control" th:field="*{apellido}" id="apellidoUsuario" name="apellido"
                                                               placeholder="Last name" disabled style="background-color: #e9ecef;" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label for="dniUsuario" class="form-label">DNI</label>
                                                        <input type="text" class="form-control" th:field="*{dni}" id="dniUsuario" name="dni"
                                                               placeholder="DNI" disabled style="background-color: #e9ecef;" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label for="rucUsuario" class="form-label">RUC</label>
                                                        <input type="text" class="form-control" th:field="*{ruc}" id="rucUsuario" name="ruc"
                                                               placeholder="RUC" disabled style="background-color: #e9ecef;" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="direccionUsuario" class="form-label">Dirección</label>
                                                        <input type="text" class="form-control" th:field="*{direccion}" id="direccionUsuario" name="direccion"
                                                               placeholder="Dirección" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="telefonoUsuario" class="form-label">Teléfono</label>
                                                        <input type="text" class="form-control" th:field="*{telefono}" id="telefonoUsuario" name="telefono"
                                                               placeholder="Teléfono" required maxlength="9" oninput="validatePhone(this)">
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="correoUsuario" class="form-label">Correo electrónico</label>
                                                        <input type="email" class="form-control" th:field="*{correo}" id="correoUsuario" name="correo"
                                                               placeholder="Correo electrónico" required>
                                                        <div class="invalid-feedback">
                                                            Please provide a valid zip.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="distritoUsuario" class="form-label">Distrito</label>
                                                        <select class="form-select" th:field="*{distritoIddistrito}" id="distritoUsuario" name="distritoIddistrito" required>
                                                            <option selected disabled value="">Seleccione un distrito</option>
                                                            <option th:each="distrito : ${distritos}" th:value="${distrito.id}" th:text="${distrito.nombre}" th:selected="${distrito.id} == ${usuario.distritoIddistrito.id}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid state.
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="zonaUsuario" class="form-label">Zona</label>
                                                        <input type="text" class="form-control" th:field="*{distritoIddistrito.zonaIdzona.nombre}" id="zonaUsuario"
                                                               disabled style="background-color: #e9ecef;" required>
                                                        <div class="invalid-feedback">
                                                            Please select a valid state.
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="codigoDespachadorUsuario" class="form-label">Código de despachador de aduana</label>
                                                        <input type="text" class="form-control" th:field="*{codigoDespachador}" id="codigoDespachadorUsuario" name="codigoDespachador"
                                                               placeholder="Código de despachador de aduana" required>
                                                        <div class="invalid-feedback">
                                                            Please provide a valid zip.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label for="razonSocialUsuario" class="form-label">Razón Social</label>
                                                        <input type="text" class="form-control" th:field="*{razonSocial}" id="razonSocialUsuario" name="razonSocial"
                                                               placeholder="Razón social" required>
                                                        <div class="invalid-feedback">
                                                            Please provide a valid zip.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="rolIdrol" th:value="${rol.id}" />
                                            <input type="hidden" name="isActivated" th:value="${usuario.isActivated}" />
                                            <input type="hidden" name="isAccepted" th:value="${usuario.isAccepted}" />
                                            <div>
                                                <button class="btn btn-primary" type="submit">Guardar</button>
                                                <a th:href="${usuario.isActivated == 1 ? '/superadmin/agentCompraActivos' : '/superadmin/agentCompraInactivos'}" class="btn btn-danger">Cancelar</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div> <!-- end col -->

                        </div>
                        <!-- end row -->


                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                <span th:replace="~{Common/footer :: footerCommon}"></span>
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->


        <!-- JAVASCRIPT BASE-->
        <span th:replace="~{Common/jsBase :: js_Base}"></span>
        <!-- End JAVASCRIPT BASE-->
    <script>
        function validatePhone(input) {
            // Remove non-numeric characters
            input.value = input.value.replace(/[^0-9]/g, '');
            // Limit to 8 characters
            if (input.value.length > 8) {
                input.value = input.value.slice(0, 9);
            }
        }
    </script>
    </body>

</html>
