<!-- src/main/resources/templates/SuperAdmin/productoNuevo-SAdmin.html -->
<!-- src/main/resources/templates/SuperAdmin/productoNuevo-SAdmin.html -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Registro de Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <link th:href="@{../libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css}" rel="stylesheet">
    <link th:href="@{../libs/select2/css/select2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <link th:href="@{../libs/spectrum-colorpicker2/spectrum.min.css}" rel="stylesheet" type="text/css">
</head>
<body data-sidebar="dark">
<div id="layout-wrapper">
    <header th:replace="~{SuperAdmin/fragments/navbar :: nav_bar}"></header>
    <div th:replace="~{SuperAdmin/fragments/sidebar :: side_bar}"></div>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Registro de Productos</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Inventario</a></li>
                                    <li class="breadcrumb-item active">Nuevo Producto</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- src/main/resources/templates/SuperAdmin/productoNuevo-SAdmin.html -->
                                <form th:action="@{/superadmin/productoNuevo}" th:object="${formProducto}" method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="basicpill-firstname-input">Nombre</label>
                                                <input type="text" id="basicpill-firstname-input" class="form-control" th:field="*{producto.nombre}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="category">Categoría</label>
                                                <select id="category" class="form-select">
                                                    <option disabled selected>--Selecciona una categoría--</option>
                                                    <option value="Ropa Masculina">Ropa Masculina</option>
                                                    <option value="Ropa Femenina">Ropa Femenina</option>
                                                    <option value="Electrónica">Electrónica</option>
                                                    <option value="Muebles">Muebles</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo3">Cantidad disponible</label>
                                                <input id="demo3" type="text" th:field="*{producto.cantidad}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo2">Costo Unitario</label>
                                                <input id="demo2" type="text"  class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo4">NUMERO</label>
                                                <input id="demo4" type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="proveedor">Proveedor</label>
                                                <select id="proveedor" class="form-select" >
                                                    <option disabled selected>--Seleccione un Proveedor--</option>
                                                    <option value="Proveedor 1">Proveedor 1</option>
                                                    <option value="Proveedor 2">Proveedor 2</option>
                                                    <option value="Proveedor 3">Proveedor 3</option>
                                                    <option value="Proveedor 4">Proveedor 4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <input type="hidden" th:field="*{productoEnZonaNorte.zonaIdzona.id}" th:value="1" />
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo5">ZONA NORTE</label>
                                                <input id="demo5" type="text" th:field="*{productoEnZonaNorte.cantidad}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo9">Costo de envío C/25 uni.</label>
                                                <input id="demo9" type="text" th:field="*{productoEnZonaNorte.costoEnvio}" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo6">ZONA SUR</label>
                                                <input id="demo6" type="text" th:field="*{productoEnZonaSur.cantidad}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo10">Costo de envío C/25 uni.</label>
                                                <input id="demo10" type="text" th:field="*{productoEnZonaSur.costoEnvio}" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo7">ZONA ESTE</label>
                                                <input id="demo7" type="text" th:field="*{productoEnZonaEste.cantidad}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo11">Costo de envío C/25 uni.</label>
                                                <input id="demo11" type="text" th:field="*{productoEnZonaEste.costoEnvio}" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo8">ZONA OESTE</label>
                                                <input id="demo8" type="text" th:field="*{productoEnZonaOeste.cantidad}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo12">Costo de envío C/25 uni.</label>
                                                <input id="demo12" type="text" value="0" th:field="*{productoEnZonaOeste.costoEnvio}" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" type="submit">Registrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span th:replace="~{Common/footer :: footerCommon}"></span>
        </div>
    </div>
    <span th:replace="~{Common/jsBase :: js_Base}"></span>
    <script th:src="@{../libs/jquery/jquery.min.js}"></script>
    <script th:src="@{../libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>
    <script th:src="@{../js/pages/form-advanced.init.js}"></script>
    <script>
        $(document).ready(function() {
            $('#demo3').TouchSpin({ initval: 0, min:0, max:100000 });
            $("#demo2").TouchSpin({ initval: 0, min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });
            $("#demo4").TouchSpin({ min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });
            $('#demo5').TouchSpin({ initval: 0, min:0, max:100000 });
            $('#demo6').TouchSpin({ initval: 0, min:0, max:100000 });
            $('#demo7').TouchSpin({ initval: 0, min:0, max:100000 });
            $('#demo8').TouchSpin({ initval: 0, min:0, max:100000 });
            $("#demo9").TouchSpin({ initval: 0, min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });
            $("#demo10").TouchSpin({ initval: 0, min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });
            $("#demo11").TouchSpin({ initval: 0, min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });
            $("#demo12").TouchSpin({ initval: 0, min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });

            // Function to reset demo5, demo6, demo7, and demo8 to 0
            function resetDemos() {
                $('#demo5').val(0).trigger('touchspin.updatesettings', {initval: 0});
                $('#demo6').val(0).trigger('touchspin.updatesettings', {initval: 0});
                $('#demo7').val(0).trigger('touchspin.updatesettings', {initval: 0});
                $('#demo8').val(0).trigger('touchspin.updatesettings', {initval: 0});
            }

            // Function to update demo3 based on changes in demo5, demo6, demo7, and demo8
            function updateDemo3(field) {
                var initialDemo3Value = parseInt($('#demo3').val()) || 0;
                var previousValue = parseInt(field.data('previous')) || 0;
                var currentValue = parseInt(field.val()) || 0;
                var difference = currentValue - previousValue;

                var newDemo3Value = initialDemo3Value - difference;
                if (newDemo3Value < 0) {
                    newDemo3Value = 0;
                }

                $('#demo3').val(newDemo3Value).trigger('touchspin.updatesettings', {initval: newDemo3Value});
                field.data('previous', currentValue);

                // Disable increment buttons if demo3 is 0
                toggleIncrementButtons(newDemo3Value <= 0);
            }

            function toggleIncrementButtons(disable) {
                $('#demo5, #demo6, #demo7, #demo8').each(function() {
                    var $this = $(this);
                    $this.closest('.bootstrap-touchspin').find('.bootstrap-touchspin-up').prop('disabled', disable);
                    if (disable) {
                        $this.closest('.bootstrap-touchspin').find('.bootstrap-touchspin-up').addClass('disabled');
                    } else {
                        $this.closest('.bootstrap-touchspin').find('.bootstrap-touchspin-up').removeClass('disabled');
                    }
                });
            }

            // Listen for changes in demo3 and reset other demos
            $('#demo3').on('change', function() {
                resetDemos();
                toggleIncrementButtons(false);
                $('#demo5, #demo6, #demo7, #demo8').each(function() {
                    $(this).data('previous', $(this).val());
                });
            });

            // Listen for changes in demo5, demo6, demo7, and demo8
            $('#demo5, #demo6, #demo7, #demo8').each(function() {
                $(this).data('previous', $(this).val());
            }).on('change', function() {
                updateDemo3($(this));
            });

            // Prevent increasing values if demo3 is 0
            $('#demo5, #demo6, #demo7, #demo8').on('touchspin.on.startspin', function(e) {
                var initialDemo3Value = parseInt($('#demo3').val()) || 0;
                if (initialDemo3Value <= 0 && e.direction === 'up') {
                    e.preventDefault(); // Prevent the default action
                    return false;
                }
            });

            // Initialize the values
            resetDemos();
            toggleIncrementButtons(false); // Ensure buttons are enabled initially
        });
    </script>
</div>
</body>
</html>
