<!-- src/main/resources/templates/SuperAdmin/productoNuevo-SAdmin.html -->
<!-- src/main/resources/templates/SuperAdmin/productoNuevo-SAdmin.html -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Registro de Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <link th:href="@{../libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css}" rel="stylesheet">
    <link th:href="@{../libs/select2/css/select2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <link th:href="@{../libs/spectrum-colorpicker2/spectrum.min.css}" rel="stylesheet" type="text/css">
</head>
<body data-sidebar="dark">
<div id="layout-wrapper">
    <header th:replace="~{SuperAdmin/fragments/navbar :: nav_bar}"></header>
    <div th:replace="~{SuperAdmin/fragments/sidebar :: side_bar}"></div>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Registro de Productos</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Inventario</a></li>
                                    <li class="breadcrumb-item active">Nuevo Producto</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- src/main/resources/templates/SuperAdmin/productoNuevo-SAdmin.html -->
                                <form th:action="@{/superadmin/productoNuevo}" th:object="${formProducto}" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="basicpill-firstname-input">Nombre</label>
                                                <input type="text" id="basicpill-firstname-input" class="form-control" th:field="*{producto.nombre}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="category">Categoría</label>
                                                <select id="category" class="form-select">
                                                    <option disabled selected>--Selecciona una categoría--</option>
                                                    <option value="1">Ropa mujer</option>
                                                    <option value="2">Ropa hombre</option>
                                                    <option value="3">Tecnología</option>
                                                    <option value="4">Muebles para el hogar</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="subcategoria">SubCategoría</label>
                                                <select id="subcategoria" class="form-select" name="producto.subcategoriaIdsubcategoria">
                                                    <option disabled selected>--Selecciona una subcategoría--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo3">Cantidad disponible</label>
                                                <input id="demo3" type="text" th:field="*{producto.cantidad}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo2">Costo Unitario</label>
                                                <input id="demo2" type="text" th:field="*{producto.precio}"  class="form-control"  />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="demo4">Peso</label>
                                                <input id="demo4" type="text" class="form-control" th:field="*{producto.peso}" />
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="proveedor">Proveedor</label>
                                                <select id="proveedor" class="form-select" name="producto.proveedorIdproveedor">
                                                    <option disabled selected>--Sin Asignar--</option>
                                                    <option th:each="proveedor : ${proveedores}" th:value="${proveedor.id}" th:text="${proveedor.nombre}+' '+${proveedor.apellido}+' - '+${proveedor.tienda}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="marca">Marca</label>
                                                        <input type="text" id="marca" class="form-control" th:field="*{producto.marca}" />
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="color">Color</label>
                                                        <input type="text" id="color" class="form-control" th:field="*{producto.color}" />
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="modelo">Modelo</label>
                                                        <input type="text" id="modelo" class="form-control" th:field="*{producto.modelo}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="material">Material</label>
                                                        <input type="text" id="material" class="form-control" th:field="*{producto.material}" />
                                                    </div>
                                                    <div class="mb-3" data-category="1,2">
                                                        <label class="form-label" for="talla">Talla</label>
                                                        <input type="text" id="talla" class="form-control" th:field="*{producto.talla}" />
                                                    </div>
                                                    <div class="mb-3" data-category="3,4">
                                                        <label class="form-label" for="ancho">Ancho</label>
                                                        <input type="text" id="ancho" class="form-control" th:field="*{producto.ancho}" />
                                                    </div>
                                                    <div class="mb-3" data-category="3,4">
                                                        <label class="form-label" for="alto">Alto</label>
                                                        <input type="text" id="alto" class="form-control" th:field="*{producto.alto}" />
                                                    </div>
                                                    <div class="mb-3" data-category="3,4">
                                                        <label class="form-label" for="profundidad">Profundidad</label>
                                                        <input type="text" id="profundidad" class="form-control" th:field="*{producto.profundidad}" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="mb-3" data-category="3">
                                                            <label class="form-label" for="resolucion">Resolución de Pantalla</label>
                                                            <input type="text" id="resolucion" class="form-control" th:field="*{producto.resolucion}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3" data-category="3">
                                                            <label class="form-label" for="ram">Memoria RAM</label>
                                                            <input type="text" id="ram" class="form-control" th:field="*{producto.ram}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3" data-category="3">
                                                            <label class="form-label" for="almacenamiento">Almacenamiento</label>
                                                            <input type="text" id="almacenamiento" class="form-control" th:field="*{producto.almacenamiento}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="demo5">ZONA NORTE</label>
                                                        <input id="demo5" type="text" th:field="*{productoEnZonaNorte.cantidad}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="demo9">Costo de envío C/25 uni.</label>
                                                        <input id="demo9" type="text" th:field="*{productoEnZonaNorte.costoEnvio}" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="demo6">ZONA SUR</label>
                                                        <input id="demo6" type="text" th:field="*{productoEnZonaSur.cantidad}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="demo10">Costo de envío C/25 uni.</label>
                                                        <input id="demo10" type="text" th:field="*{productoEnZonaSur.costoEnvio}" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="demo7">ZONA ESTE</label>
                                                        <input id="demo7" type="text" th:field="*{productoEnZonaEste.cantidad}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="demo11">Costo de envío C/25 uni.</label>
                                                        <input id="demo11" type="text" th:field="*{productoEnZonaEste.costoEnvio}" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="demo8">ZONA OESTE</label>
                                                        <input id="demo8" type="text" th:field="*{productoEnZonaOeste.cantidad}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="demo12">Costo de envío C/25 uni.</label>
                                                        <input id="demo12" type="text" value="0" th:field="*{productoEnZonaOeste.costoEnvio}" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">

                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="productdesc">Descripción</label>
                                                <textarea class="form-control" id="productdesc" rows="5" th:field="*{producto.descripcion}"></textarea>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="mb-4">
                                                    <label for="foto" class="form-label">Subir Foto</label>
                                                    <input type="file" class="form-control" id="foto" name="foto" accept="image/*" onchange="previewImage(event)" required>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- Contenedor para la previsualización de la imagen -->
                                                <div style="display: flex; justify-content: center; align-items: center; height: 100%; overflow: hidden;">
                                                    <img id="fotoPreview" src="" alt="Imagen previsualizada" style="display: none; max-width: 100%; max-height: 300px; object-fit: contain;">
                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                    <div>
                                        <button class="btn btn-primary" type="submit">Registrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span th:replace="~{Common/footer :: footerCommon}"></span>
        </div>
    </div>
    <span th:replace="~{Common/jsBase :: js_Base}"></span>
    <script th:src="@{../libs/jquery/jquery.min.js}"></script>
    <script th:src="@{../libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>
    <script th:src="@{../js/pages/form-advanced.init.js}"></script>
    <script>
        function previewImage(event) {
            const file = event.target.files[0]; // Obtiene el archivo seleccionado
            const preview = document.getElementById('fotoPreview'); // Elemento de imagen donde se mostrará la previsualización

            if (file) {
                const reader = new FileReader();

                reader.onload = function() {
                    preview.src = reader.result; // Establece la fuente de la imagen al resultado de FileReader
                    preview.style.display = 'block'; // Muestra la imagen
                };

                reader.readAsDataURL(file); // Lee el archivo como URL de datos
            } else {
                preview.src = ""; // Si no hay archivo, limpia la imagen
                preview.style.display = 'none'; // Oculta la imagen
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $('#demo3').TouchSpin({ min: 0, max: 100000 });
            $('#demo3').attr('placeholder', '0');

            $("#demo2").TouchSpin({ min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });
            $('#demo2').attr('placeholder', '0.00');

            $("#demo4").TouchSpin({ min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'Kg.' });
            $('#demo4').attr('placeholder', '0.00');

            $('#demo5').TouchSpin({ min: 0, max: 100000 });
            $('#demo5').attr('placeholder', '0');

            $('#demo6').TouchSpin({ min: 0, max: 100000 });
            $('#demo6').attr('placeholder', '0');

            $('#demo7').TouchSpin({ min: 0, max: 100000 });
            $('#demo7').attr('placeholder', '0');

            $('#demo8').TouchSpin({ min: 0, max: 100000 });
            $('#demo8').attr('placeholder', '0');

            $("#demo9").TouchSpin({ min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });
            $('#demo9').attr('placeholder', '0.00');

            $("#demo10").TouchSpin({ min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });
            $('#demo10').attr('placeholder', '0.00');

            $("#demo11").TouchSpin({ min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });
            $('#demo11').attr('placeholder', '0.00');

            $("#demo12").TouchSpin({ min: 0, max: 100000, step: 0.01, decimals: 2, boostat: 5, maxboostedstep: 10, prefix: 'S/.' });
            $('#demo12').attr('placeholder', '0.00');

            // Function to reset demo5, demo6, demo7, and demo8 to 0
            function resetDemos() {
                $('#demo5').val(0).trigger('touchspin.updatesettings', {initval: 0});
                $('#demo6').val(0).trigger('touchspin.updatesettings', {initval: 0});
                $('#demo7').val(0).trigger('touchspin.updatesettings', {initval: 0});
                $('#demo8').val(0).trigger('touchspin.updatesettings', {initval: 0});
            }

            // Function to update demo3 based on changes in demo5, demo6, demo7, and demo8
            function updateDemo3(field) {
                var initialDemo3Value = parseInt($('#demo3').val()) || 0;
                var previousValue = parseInt(field.data('previous')) || 0;
                var currentValue = parseInt(field.val()) || 0;
                var difference = currentValue - previousValue;

                var newDemo3Value = initialDemo3Value - difference;
                if (newDemo3Value < 0) {
                    newDemo3Value = 0;
                }

                $('#demo3').val(newDemo3Value).trigger('touchspin.updatesettings', {initval: newDemo3Value});
                field.data('previous', currentValue);

                // Disable increment buttons if demo3 is 0
                toggleIncrementButtons(newDemo3Value <= 0);
            }

            function toggleIncrementButtons(disable) {
                $('#demo5, #demo6, #demo7, #demo8').each(function() {
                    var $this = $(this);
                    $this.closest('.bootstrap-touchspin').find('.bootstrap-touchspin-up').prop('disabled', disable);
                    if (disable) {
                        $this.closest('.bootstrap-touchspin').find('.bootstrap-touchspin-up').addClass('disabled');
                    } else {
                        $this.closest('.bootstrap-touchspin').find('.bootstrap-touchspin-up').removeClass('disabled');
                    }
                });
            }

            // Listen for changes in demo3 and reset other demos
            $('#demo3').on('change', function() {
                resetDemos();
                toggleIncrementButtons(false);
                $('#demo5, #demo6, #demo7, #demo8').each(function() {
                    $(this).data('previous', $(this).val());
                });
            });

            // Listen for changes in demo5, demo6, demo7, and demo8
            $('#demo5, #demo6, #demo7, #demo8').each(function() {
                $(this).data('previous', $(this).val());
            }).on('change', function() {
                updateDemo3($(this));
            });

            // Prevent increasing values if demo3 is 0
            $('#demo5, #demo6, #demo7, #demo8').on('touchspin.on.startspin', function(e) {
                var initialDemo3Value = parseInt($('#demo3').val()) || 0;
                if (initialDemo3Value <= 0 && e.direction === 'up') {
                    e.preventDefault(); // Prevent the default action
                    return false;
                }
            });

            // Initialize the values
            resetDemos();
            toggleIncrementButtons(false); // Ensure buttons are enabled initially
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const categorySelect = document.getElementById('category');
            const subcategorySelect = document.getElementById('subcategoria');

            const subcategories = {
                '1': [
                    { id: 1, nombre: 'Blusas' },
                    { id: 2, nombre: 'Short' },
                    { id: 3, nombre: 'Poleras' },
                    { id: 4, nombre: 'Pantalones' },
                    { id: 5, nombre: 'Vestidos' }
                ],
                '2': [
                    { id: 6, nombre: 'Polos' },
                    { id: 7, nombre: 'Poleras' },
                    { id: 8, nombre: 'Camisas' },
                    { id: 9, nombre: 'Chompas' },
                    { id: 10, nombre: 'Pantalones' }
                ],
                '3': [
                    { id: 11, nombre: 'Computadoras' },
                    { id: 12, nombre: 'Laptops' },
                    { id: 13, nombre: 'Tablets' },
                    { id: 14, nombre: 'Celulares' },
                    { id: 15, nombre: 'Auriculares' }
                ],
                '4': [
                    { id: 16, nombre: 'Juego de comedor' },
                    { id: 17, nombre: 'Sillones' },
                    { id: 18, nombre: 'Armarios' },
                    { id: 19, nombre: 'Literas' },
                    { id: 20, nombre: 'Estantes' }
                ]
            };

            categorySelect.addEventListener('change', function() {
                const selectedCategory = categorySelect.value;
                const options = subcategories[selectedCategory] || [];

                // Clear previous options
                subcategorySelect.innerHTML = '<option disabled selected>--Selecciona una subcategoría--</option>';

                // Populate new options
                options.forEach(subcategory => {
                    const option = document.createElement('option');
                    option.value = subcategory.id;
                    option.textContent = subcategory.nombre;
                    subcategorySelect.appendChild(option);
                });
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const categorySelect = document.getElementById('category');
            const inputs = document.querySelectorAll('[data-category]');

            function updateInputsVisibility() {
                const selectedCategory = categorySelect.value;
                inputs.forEach(input => {
                    const categories = input.getAttribute('data-category').split(',');
                    if (categories.includes(selectedCategory)) {
                        input.style.display = 'block';
                    } else {
                        input.style.display = 'none';
                    }
                });
            }

            categorySelect.addEventListener('change', updateInputsVisibility);

            // Initial call to set the correct visibility on page load
            updateInputsVisibility();
        });
    </script>
</div>
</body>
</html>
