<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Registro de Productos | TRADO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <link th:href="@{../libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css}" rel="stylesheet">
    <link th:href="@{../libs/select2/css/select2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{../libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <link th:href="@{../libs/spectrum-colorpicker2/spectrum.min.css}" rel="stylesheet" type="text/css">
</head>
<body data-sidebar="dark">
<div id="layout-wrapper">
    <header th:replace="~{SuperAdmin/fragments/navbar :: nav_bar}"></header>
    <div th:replace="~{SuperAdmin/fragments/sidebar :: side_bar}"></div>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Registro de Productos</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Inventario</a></li>
                                    <li class="breadcrumb-item active">Nuevo Producto</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3">

                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="/images/small/ropa-masculina.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title fw-bold">Ropa Masculina</h4>
                                <p class="card-text">◉ Elija esta sección si desea registrar los siguientes productos:</p>
                                <p class="card-text">✔ Polos</p>
                                <p class="card-text">✔ Poleras</p>
                                <p class="card-text">✔ Camisas</p>
                                <p class="card-text">✔ Chompas</p>
                                <p class="card-text">✔ Pantalones</p>
                                <a href="/superadmin/productoNuevo-ropaM" class="btn btn-primary waves-effect waves-light">Registrar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">

                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="/images/small/ropa-femenina.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title fw-bold">Ropa Femenina</h4>
                                <p class="card-text">◉ Elija esta sección si desea registrar los siguientes productos:</p>
                                <p class="card-text">✔ Blusas</p>
                                <p class="card-text">✔Shorts</p>
                                <p class="card-text">✔ Poleras</p>
                                <p class="card-text">✔ Pantalones</p>
                                <p class="card-text">✔ Vestidos</p>
                                <a href="/superadmin/productoNuevo-ropaF" class="btn btn-primary waves-effect waves-light">Registrar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">

                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="/images/small/tecno.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title fw-bold">Tecnología</h4>
                                <p class="card-text">◉ Elija esta sección si desea registrar los siguientes productos:</p>
                                <p class="card-text">✔ Computadoras</p>
                                <p class="card-text">✔ Laptops</p>
                                <p class="card-text">✔ Tablets</p>
                                <p class="card-text">✔ Celulares</p>
                                <p class="card-text">✔ Auriculares</p>
                                <a href="/superadmin/productoNuevo-tecno" class="btn btn-primary waves-effect waves-light">Registrar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">

                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="/images/small/muebles.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title fw-bold">Muebles</h4>
                                <p class="card-text">◉ Elija esta sección si desea registrar los siguientes productos:</p>
                                <p class="card-text">✔ Juego de Comedor</p>
                                <p class="card-text">✔ Sillones</p>
                                <p class="card-text">✔ Armarios</p>
                                <p class="card-text">✔ Literas</p>
                                <p class="card-text">✔ Estantes</p>
                                <a href="/superadmin/productoNuevo-mueble" class="btn btn-primary waves-effect waves-light">Registrar</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <span th:replace="~{Common/footer :: footerCommon}"></span>
        </div>
    </div>
    <span th:replace="~{Common/jsBase :: js_Base}"></span>
    <script th:src="@{../libs/jquery/jquery.min.js}"></script>
    <script th:src="@{../libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>
    <script th:src="@{../js/pages/form-advanced.init.js}"></script>
    <script th:src="@{../libs/masonry-layout/masonry.pkgd.min.js}"></script>
</div>
</body>
</html>
