<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Lista de Proveedores | TRADO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS BASE -->
        <meta th:replace="~{Common/cssBase :: css_Base}">
        <!-- End CSS BASE -->
        <!-- DataTables -->
        <link th:href="@{../libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{../libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{../libs/datatables.net-select-bs4/css/select.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link th:href="@{../libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    </head>

    <body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== NavBar Start ========== -->
        <header th:replace="~{SuperAdmin/fragments/navbar :: nav_bar}"></header>
        <!-- Navbar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="~{SuperAdmin/fragments/sidebar :: side_bar}"></div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">


                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Listado de Proveedores</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Proveedores</a></li>
                                        <li class="breadcrumb-item active">Lista de Proveedores</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Mostrar mensaje de éxito -->
                    <div th:if="${successMessage}" class="alert alert-success" role="alert">
                        <span th:text="${successMessage}"></span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="datatable-proveedor-lista" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Teléfono</th>
                                            <th>DNI</th>
                                            <th>RUC</th>
                                            <th>Tienda</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            <tr th:each="proveedor : ${proveedores}">
                                                <td th:text="${proveedor.nombre}">Nombre</td>
                                                <td th:text="${proveedor.apellido}">Apellido</td>
                                                <td th:text="${proveedor.telefono}">Teléfono</td>
                                                <td th:text="${proveedor.dni}">DNI</td>
                                                <td th:text="${proveedor.ruc}">RUC</td>
                                                <td th:text="${proveedor.tienda}">Tienda</td>
                                                <td>
                                                    <form th:action="@{/superadmin/proveedorEditarForm}" method="post" style="display:inline;">
                                                        <input type="hidden" name="id" th:value="${proveedor.id}" />
                                                        <button type="submit" class="btn btn-success btn-sm waves-effect waves-light" title="Editar"><i class="ri-pencil-fill"></i></button>
                                                    </form>
                                                    <button type="button" class="btn btn-danger btn-sm waves-effect waves-light" title="Eliminar" data-bs-toggle="modal" th:data-bs-target="'#deleteConfirmModal-' + ${proveedor.id}">
                                                        <i class="ri-delete-bin-fill"></i>
                                                    </button>
                                                </td>
                                                <!-- Modal de Confirmación de Eliminación -->
                                                <div class="modal fade" th:id="'deleteConfirmModal-' + ${proveedor.id}" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteConfirmModalLabel">Confirmar Eliminación</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                ¿Estás seguro de borrar a <strong th:text="${proveedor.nombre} + ' ' + ${proveedor.apellido}"></strong>?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                                <a th:href="@{/superadmin/proveedorBorrar(id=${proveedor.id})}" class="btn btn-danger">Continuar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->
                    <!-- end page title -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <span th:replace="~{Common/footer :: footerCommon}"></span>
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->


    <!-- JAVASCRIPT BASE-->
    <span th:replace="~{Common/jsBase :: js_Base}"></span>
    <!-- End JAVASCRIPT BASE-->

    <!-- Required datatable js -->
    <script th:src="@{../libs/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{../libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <!-- Buttons examples -->
    <script th:src="@{../libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{../libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{../libs/jszip/jszip.min.js}"></script>
    <script th:src="@{../libs/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{../libs/pdfmake/build/vfs_fonts.js}"></script>
    <script th:src="@{../libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{../libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{../libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

    <script th:src="@{../libs/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{../libs/datatables.net-select/js/dataTables.select.min.js}"></script>

    <!-- Responsive examples -->
    <script th:src="@{../libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{../libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

    <!-- Datatable init js -->
    <script th:src="@{../js/pages/datatables.init.js}"></script>

    </body>

</html>