<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Starter page | Nazox - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS BASE -->
        <meta th:replace="~{Common/cssBase :: css_Base}">
        <!-- End CSS BASE -->

    </head>

    <body data-sidebar="dark">
    
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            <!-- ========== NavBar Start ========== -->
            <header th:replace="~{SuperAdmin/fragments/navbar :: nav_bar}"></header>
            <!-- Navbar End -->
            <!-- ========== Left Sidebar Start ========== -->
            <div th:replace="~{SuperAdmin/fragments/sidebar :: side_bar}"></div>
            <!-- Left Sidebar End -->
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Registro de Proveedores</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Proveedores</a></li>
                                            <li class="breadcrumb-item active">Nuevo Proveedor</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="align-content-center-xl-6">
                                <div class="card">
                                    <div class="card-body" style="padding: 30px">
                                        <h4 class="card-title fw-bold">Observaciones:</h4>
                                        <span style="display: block; padding-bottom: 10px;">- El DNI ingresado debe de tener 8 dígitos y debe existir en RENIEC.</span>
                                        <span style="display: block; padding-bottom: 10px;">- El nombre ingresado debe coincidir con el registrado en RENIEC.</span>
                                        <span style="display: block; padding-bottom: 10px;">- El apellido ingresado debe coincidir con el registrado en RENIEC.</span>
                                        <h4 class="card-title fw-bold">Datos de registro:</h4>
                                        <form th:object="${proveedor}" th:action="@{/superadmin/proveedorNuevo}" method="post" class="needs-validation" novalidate>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-4">
                                                        <label for="nombreProveedor" class="form-label">Nombre</label>
                                                        <input type="text" class="form-control" id="nombreProveedor" name="nombreProveedor"  placeholder="Ingrese los nombres" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-4">
                                                        <label for="apellidoProveedor" class="form-label">Apellido</label>
                                                        <input type="text" class="form-control" id="apellidoProveedor" name="apellidoProveedor" placeholder="Ingrese los apellidos" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-4">
                                                        <label for="dniProveedor" class="form-label">DNI</label>
                                                        <input type="text" class="form-control" id="dniProveedor" name="dniProveedor"  placeholder="Ingrese el DNI" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-4">
                                                        <label for="rucProveedor" class="form-label">RUC</label>
                                                        <input type="text" class="form-control" id="rucProveedor" name="rucProveedor"  placeholder="Ingrese el RUC" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-4">
                                                        <label for="telefonoProveedor" class="form-label">Teléfono</label>
                                                        <input type="tel" class="form-control" id="telefonoProveedor" name="telefonoProveedor" placeholder="Ingrese el teléfono" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-4">
                                                        <label for="nombreTienda" class="form-label">Nombre de la Tienda</label>
                                                        <input type="text" class="form-control" id="nombreTienda" name="nombreTienda" placeholder="Ingrese el nombre de la Tienda" required>
                                                        <div class="invalid-feedback">
                                                            Please provide a valid zip.
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="enabled" th:value="1" />
                                            </div>
                                            <div>
                                                <button class="btn btn-info" type="submit">Registrar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div> <!-- end col -->

                        </div>
                        <!-- end row -->


                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                <span th:replace="~{Common/footer :: footerCommon}"></span>
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->


        <!-- JAVASCRIPT BASE-->
        <span th:replace="~{Common/jsBase :: js_Base}"></span>
        <!-- End JAVASCRIPT BASE-->
    </body>

</html>
