<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="utf-8" />
    <title>Perfil de importador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <div th:insert="Common/cssBase :: css_Base"></div>
    <!-- End CSS BASE -->

    <!-- DataTables -->
    <link th:href="@{../libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{../libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{../libs/datatables.net-select-bs4/css/select.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link th:href="@{../libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="Agente/fragments/navbar :: nav_bar"></header>
    <!-- Navbar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="Agente/fragments/sidebar :: side_bar"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Perfil de importador</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">Home</li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Profile</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-xxl flex-grow-1 container-p-y">
                    <hr class="opacity-0">
                    <div class="row">
                        <!-- Bloque de Información de Perfil -->
                        <div class="col-md-3">
                            <div class="card mb-4 ">
                                <h5 class="card-header">Foto de perfil</h5>
                                <div class="user-profile-header d-flex flex-column align-items-center mb-3">
                                    <hr class="opacity-0">
                                    <div class="flex-shrink-0">
                                        <img src="/images/users/sid.jpg" alt="user image" class="d-block rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                                    </div>
                                    <p class="text-muted mb-0 mt-2">Jesús Andrés Luján</p>
                                    <p class="text-muted mb-0">Importador</p>

                                </div>
                            </div>
                        </div>

                        <!-- Bloque de Detalles de Perfil -->
                        <div class="col-md-9">

                            <div class="card mb-4 " >
                                <div class="card-header bg-light">
                                    <h5>Información de importador</h5>
                                </div>
                                <div class="card-body row">
                                    <div class="col">
                                        <p><strong>Nombres:</strong> <span th:text="${usuario.nombre}"></span> </p>
                                        <p><strong>DNI:</strong> <span th:text="${usuario.dni}"></span></p>
                                        <p><strong>Correo electrónico:</strong> c<span th:text="${usuario.correo}"></span> </p>
                                        <p><strong>Dirección:</strong> <span th:text="${usuario.direccion}"></span></p>
                                    </div>
                                    <div class="col">
                                        <p><strong>Apellidos:</strong> <span th:text="${usuario.apellido}"></span></p>
                                        <p><strong>RUC:</strong> <span th:text="${usuario.ruc}"></span></p>
                                        <p><strong>Teléfono:</strong> <span th:text="${usuario.telefono}"></span></p>
                                        <p><strong>Fecha de nacimiento:</strong> <span th:text="${usuario.fechaNacimiento}"></span></p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="row" th:if="${usuario.isActivated}">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header bg-light">
                                    <h5>Ordenes del importador</h5>
                                </div>
                                <div class="card-body">
                                    <table id="datatable-productoUsuario" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Fecha de creación</th>
                                            <th>Agente asignado</th>
                                            <th>Método de pago</th>
                                            <th>Estado</th>
                                            <th>Ver</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="orden : ${listaOrdenes}">
                                            <td th:text="${orden.fechaCreacion}"></td>
                                            <td th:text="${orden.agenteCompra}"></td>
                                            <td th:text="${orden.metodoPago}"></td>
                                            <!-- Aquí utilizamos th:switch para manejar diferentes estados -->
                                            <td>
                                              <span th:switch="${orden.estadoPedido}">
                                                  <span th:case="'CREADO'" class="badge bg-secondary fs-6">Sin asignar</span>
                                                  <span th:case="'EN VALIDACION'" class="badge bg-warning fs-6">Pendiente</span>
                                                  <span th:case="'EN PROCESO'" class="badge bg-info fs-6">En proceso</span>
                                                  <span th:case="'ARRIBO AL PAIS'" class="badge bg-info fs-6">En proceso</span>
                                                  <span th:case="'EN ADUANAS'" class="badge bg-info fs-6">En proceso</span>
                                                  <span th:case="'EN RUTA'" class="badge bg-info fs-6">En proceso</span>
                                                  <span th:case="'RECIBIDO'" class="badge bg-success fs-6">Resuelto</span>
                                                  <span th:case="*">Desconocido</span>  <!-- Este es un caso por defecto -->
                                              </span>
                                            </td>
                                            <td>
                                                <a th:href="@{'/agente/detailsOrder?idOrden=' + ${orden.idOrden} + '&idUsuario=' + ${orden.idUsuarioAsignado} }" class="btn btn-primary btn-sm waves-effect waves-light" title="Ver" >
                                                    <i class="ri-eye-fill"></i>
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <!-- Botón para abrir el modal de baneo-->
                                    <div class="text-end mt-3">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#banUserModal">
                                            Banear usuario
                                        </button>
                                    </div>
                                    <!-- Modal de confirmación de baneo -->
                                    <div class="modal fade" id="banUserModal" tabindex="-1" aria-labelledby="banUserModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="banUserModalLabel">Confirmar baneo</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="banUserForm" th:action="@{/agente/banearImportador}" method="post">
                                                        <input type="hidden" id="idImportador" name="idImportador" th:value="${usuario.id}" />
                                                        <div class="mb-3">
                                                            <label for="banReason" class="form-label">Razón del baneo</label>
                                                            <textarea class="form-control" id="banReason" name="banReason" rows="4" placeholder="Ingresa la razón del baneo" required></textarea>
                                                            <div id="banReasonError" class="text-danger"></div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="submit" form="banUserForm" class="btn btn-danger">Confirmar baneo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>


                            </div>
                        </div>


                    </div>
                    <!-- Card de historial de comportamiento del importador -->

                    <div class="container" th:if="${usuario.isActivated==0}">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8">
                                <div class="card">
                                    <div class="card-header bg-light">
                                        <h5>Razón de baneo del importador</h5>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Razón</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr>
                                                <td th:text="${usuario.motivoBaneo}"></td> <!-- Razón del baneo -->
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Mensajes de éxito y error -->
                <div id="error-message" class="alert alert-danger" style="display: none;" role="alert"></div>
                <div id="success-message" class="alert alert-success" style="display: none;" role="alert"></div>
                <!-- / Content -->
            </div>
        </div>

    </div>
    <!-- End Page-content -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © TRADO.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- end main content-->
</div>
<!-- END layout-wrapper -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Escucha el evento de envío del formulario
        document.getElementById("banUserForm").addEventListener("submit", function(event) {
            let banReason = document.getElementById("banReason").value.trim();

            // Limpiar mensajes anteriores
            document.getElementById("banReasonError").innerText = '';

            // Validar que no esté vacío y que no exceda los 150 caracteres
            if (banReason.length === 0) {
                event.preventDefault();  // Evitar el envío del formulario
                document.getElementById("banReasonError").innerText = 'La razón del baneo es obligatoria.';
            } else if (banReason.length > 150) {
                event.preventDefault();  // Evitar el envío del formulario
                document.getElementById("banReasonError").innerText = 'La razón del baneo no puede exceder los 150 caracteres.';
            }
        });
    });
</script>


<!-- JAVASCRIPT BASE-->
<div th:insert="Common/jsBase :: js_Base"></div>
<!-- End JAVASCRIPT BASE-->

<!-- Required datatable js -->
<script th:src="@{../libs/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{../libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{../libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{../libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{../libs/jszip/jszip.min.js}"></script>
<script th:src="@{../libs/pdfmake/build/pdfmake.min.js}"></script>
<script th:src="@{../libs/pdfmake/build/vfs_fonts.js}"></script>
<script th:src="@{../libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{../libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{../libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

<script th:src="@{../libs/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
<script th:src="@{../libs/datatables.net-select/js/dataTables.select.min.js}"></script>

<!-- Responsive examples -->
<script th:src="@{../libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{../libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

<!-- Datatable init js -->
<script th:src="@{../js/pages/datatables.init.js}"></script>


</body>

</html>
