<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="utf-8" />
    <title>Inicio | TRADO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
    <!-- jquery.vectormap css -->
    <link th:href="@{../libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link th:href="@{../libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link th:href="@{../libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
</head>

<body data-sidebar="dark">


<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="Agente/fragments/navbar :: nav_bar"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="Agente/fragments/sidebar :: side_bar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Inicio</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Utility</a></li>
                                    <li class="breadcrumb-item active">Starter page</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Ordenes por estado y mes</h4>

                                <div id="line_chart_datalabel" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div><!--end card-->
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Cantidad de usuarios satisfechos y no satisfechos por mes</h4>

                                <div id="line_chart_dashed" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div><!--end card-->
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © TRADO.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Creado con <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->

<!--JAVASCRIPT NOTIFICACIONES-->
<span th:replace="~{Agente/fragments/notificaciones-scripts :: js_Notificaciones}"></span>
<!-- End JAVASCRIPT NOTIFICACIONES-->

<!-- apexcharts -->
<script th:src="@{../libs/apexcharts/apexcharts.min.js}"></script>
<!-- apexcharts init -->
<script th:src="@{../js/pages/apexcharts.init.js}"></script>


<!-- Chart JS -->
<script th:src="@{../libs/chart.js/Chart.bundle.min.js}"></script>
<script th:src="@{../js/pages/chartjs.init.js}"></script>

<!-- jquery.vectormap map -->
<script th:src="@{../libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{../libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js}"></script>

<!-- Required datatable js -->
<script th:src="@{../libs/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{../libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>

<!-- Responsive examples -->
<script th:src="@{../libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{../libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

<script th:src="@{../js/pages/dashboard.init.js}"></script>

</body>

</html>
