<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="utf-8" />
    <title>Inicio | TRADO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
    <!-- jquery.vectormap css -->
    <link th:href="@{../libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link th:href="@{../libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link th:href="@{../libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="~{AdminZonal/fragments/navbar :: nav_bar}"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="~{AdminZonal/fragments/sidebar :: side_bar}"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <!-- Banner -->


            <div class="container-fluid" style="background-color: whitesmoke">
                <!-- DASHBOARD -->
                <div class="row ">
                    <h5>Panel de control</h5>
                    <hr>
                    <!-- Grafica de actividad -->
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="card shadow-sm border-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-1 overflow-hidden">
                                            <p class="card-title mb-2">Usuarios activos</p>
                                            <h4 class="mb-0 text-success" th:text="${active}"></h4>
                                        </div>
                                        <div class="icon-box bg-light-primary text-success ms-auto rounded-circle d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
                                            <i class="ri-emotion-fill font-size-24"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-1 overflow-hidden">
                                            <p class="card-title mb-2">Usuarios inactivos</p>
                                            <h4 class="mb-0 text-danger" th:text="${inactive}"></h4>
                                        </div>
                                        <div class="icon-box bg-light-primary text-danger ms-auto rounded-circle d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
                                            <i class="ri-emotion-unhappy-fill font-size-24"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="card shadow-sm border-0 ">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-1 overflow-hidden">
                                            <p class="card-title mb-2">Usuarios registrados</p>
                                            <h4 class="mb-0 text-info" th:text="${usuariosTotal}"></h4>
                                        </div>
                                        <div class="icon-box bg-light-primary text-info ms-auto rounded-circle d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
                                            <i class="ri-team-fill font-size-24"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grafica del stock de productos -->
                    <div class="row ">
                        <div class="card" >
                            <div class="card-body">
                                <h4 class="card-title mb-2">Disponibilidad de stock por producto</h4>
                                <div class="row text-center">
                                    <!-- Stock Total -->
                                    <div class="col-sm-4">
                                        <div class="mt-4">
                                            <p class="mb-2 text-muted text-truncate" style="font-size: 12px;">
                                                <i class="mdi mdi-circle text-success font-size-10 me-1"></i>Stock total:
                                            </p>
                                            <h6 class="mb-0 text-muted" style="font-size: 14px;" th:text="${stockTotal}"></h6>
                                        </div>
                                    </div>
                                    <!-- Producto con Menor Stock -->
                                    <div class="col-sm-4">
                                        <div class="mt-4">
                                            <p class="mb-2 text-muted text-truncate" style="font-size: 12px;">
                                                <i class="mdi mdi-circle text-danger font-size-10 me-1"></i>Producto con menor stock:
                                            </p>
                                            <h6 class="mb-0 text-muted" style="font-size: 12px;" th:text="${productoStockMenor.nombre}"></h6>
                                            <p class="mb-0 text-muted" style="font-size: 12px;" th:text="'(' + ${productoStockMenor.stock} + ' unidades)'"></p>
                                        </div>
                                    </div>
                                    <!-- Stock Promedio -->
                                    <div class="col-sm-4">
                                        <div class="mt-4">
                                            <p class="mb-2 text-muted text-truncate" style="font-size: 12px;">
                                                <i class="mdi mdi-circle text-info font-size-10 me-1"></i>Stock promedio:
                                            </p>
                                            <h6 class="mb-0 text-muted" style="font-size: 14px;" th:text="${stockPromedio}"></h6>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="bar_chart1_top10_3" class="apex-charts" dir="ltr"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" style="max-height: 450px">
                            <div class="card-body">
                                <h4 class="card-title mb-2">Raking de los 10 productos más importados en la zona</h4>
                                <div id="bar_chart1_top10_2" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div><!--end card-->
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="max-height: 450px">
                            <div class="card-body">
                                <h4 class="card-title mb-2">Ranking de los 10 mejores vendedores</h4>
                                <div id="bar_chart2_top10_2" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div><!--end card-->
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="max-height: 450px">
                            <div class="card-body">
                                <h4 class="card-title mb-2">Estado de actividad de Usuarios</h4>
                                <div id="pie_chart_AdminZonal_2" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div><!--end card-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © TRADO.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Creado con <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                        </div>
                    </div>
                </div>
            </div>
        </footer>



    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->

<!--JAVASCRIPT NOTIFICACIONES-->
<span th:replace="~{AdminZonal/fragments/notificaciones-scripts :: js_Notificaciones}"></span>
<!-- End JAVASCRIPT NOTIFICACIONES-->

<!-- apexcharts -->
<script th:src="@{../libs/apexcharts/apexcharts.min.js}"></script>
<!-- apexcharts init -->
<script th:src="@{../js/pages/adminzonal.init.js}"></script>


<!-- Chart JS -->
<script th:src="@{../libs/chart.js/Chart.bundle.min.js}"></script>
<script th:src="@{../js/pages/chartjs.init.js}"></script>

<!-- jquery.vectormap map -->
<script th:src="@{../libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{../libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js}"></script>

<!-- Required datatable js -->
<script th:src="@{../libs/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{../libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>

<!-- Responsive examples -->
<script th:src="@{../libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{../libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

<script th:src="@{../js/pages/dashboard.init.js}"></script>

</body>

</html>
