<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="utf-8" />
    <title>Reposición de productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
    <!-- DataTables -->
    <link th:href="@{../libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{../libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{../libs/datatables.net-select-bs4/css/select.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link th:href="@{../libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="AdminZonal/fragments/navbar :: nav_bar"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="AdminZonal/fragments/sidebar :: side_bar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Reposición de productos</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">Home</li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">
                                        Replacement</a></li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">Solicita la reposición de productos</h4>
                                <p class="card-title-desc">Estimado Coordinador Zonal, por favor verifique los productos con bajo stock (menos de 25 unidades)
                                    y solicite reposición al SuperAdmin a través de la tabla a continuación.</p>


                                <table id="datatable-reposicionProducto" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>Nombre del producto</th>
                                        <th>Categoría </th>
                                        <th>Cantidad</th>
                                        <th>Estado</th>
                                        <th>Reponer</th>
                                    </tr>
                                    </thead>


                                    <tbody>
                                    <tr th:each="producto : ${productos}">
                                        <td th:text="${producto.productoIdproducto.nombre}"> </td>
                                        <td th:text="${producto.productoIdproducto.subcategoriaIdsubcategoria.categoriaIdcategoria.nombre}"></td>
                                        <td th:text="${producto.cantidad}"></td>
                                        <td>
                                            <span class="badge fs-6"
                                                  th:switch="${producto.estadoRepo}">
                                                <span th:case="0" class="bg-success">Stock adecuado</span>
                                                <span th:case="1" class="bg-danger">Stock insuficiente</span>
                                                <span th:case="2" class="bg-warning">A espera de solicitud de reposición</span>
                                            </span>
                                        </td>
                                        <td>
                                            <a class="btn btn-success btn-sm edit" title="Reponer" data-bs-toggle="modal" data-bs-target="#adequateStockModal"
                                               th:if="${producto.estadoRepo} == 0">
                                                <i class="fas fa-people-carry"></i>
                                            </a>
                                            <a class="btn btn-success btn-sm edit" title="Reponer" data-bs-toggle="modal" data-bs-target="#confirmReplenishmentModal"
                                               th:if="${producto.estadoRepo} == 1">
                                                <i class="fas fa-people-carry"></i>
                                            </a>
                                            <a class="btn btn-success btn-sm edit" title="Reponer" data-bs-toggle="modal" data-bs-target="#inProgressModal"
                                               th:if="${producto.estadoRepo} == 2">
                                                <i class="fas fa-people-carry"></i>
                                            </a>
                                            <!--Start modal-->
                                            <!-- Modal para confirmar la reposición de un producto -->
                                            <div class="modal fade" id="confirmReplenishmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="confirmReplenishmentModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <form>
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="confirmReplenishmentModalLabel">Confirmar Reposición</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="text-responsive">¿Estás seguro de que deseas reponer este producto?</p>
                                                                <p>Esta acción no se puede deshacer.</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal">Cancelar</button>
                                                                <button type="submit" class="btn btn-success waves-effect waves-light" id="confirmReplenishment">Confirmar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!--End Modal-->
                                            <!--Start Modal-->

                                            <!-- Modal de Reposición en curso -->
                                            <div class="modal fade" id="inProgressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="inProgressModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="inProgressModalLabel">Reposición en curso</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>La reposición de este producto ya está en curso.</p>
                                                            <p>Por favor, espera a que el proceso finalice antes de intentar otra acción.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Modal-->

                                            <!--Start Modal-->
                                            <!-- Modal de Stock Adecuado -->
                                            <div class="modal fade" id="adequateStockModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="adequateStockModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="adequateStockModalLabel">Stock Adecuado</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>El stock de este producto es adecuado. </p>
                                                            <p>No es necesario realizar una reposición en este momento.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Modal-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © TRADO.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->

<!-- Required datatable js -->
<script th:src="@{../libs/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{../libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{../libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{../libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{../libs/jszip/jszip.min.js}"></script>
<script th:src="@{../libs/pdfmake/build/pdfmake.min.js}"></script>
<script th:src="@{../libs/pdfmake/build/vfs_fonts.js}"></script>
<script th:src="@{../libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{../libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{../libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

<script th:src="@{../libs/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
<script th:src="@{../libs/datatables.net-select/js/dataTables.select.min.js}"></script>

<!-- Responsive examples -->
<script th:src="@{../libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{../libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

<!-- Datatable init js -->
<script th:src="@{../js/pages/datatables.init.js}"></script>
</body>

</html>
