<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Información del Agente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->

</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ========== NavBar Start ========== -->
    <header th:replace="AdminZonal/fragments/navbar :: nav_bar"></header>
    <!-- Navbar End -->
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="AdminZonal/fragments/sidebar :: side_bar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Información del Agente</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">Productividad</li>
                                    <li class="breadcrumb-item active">Gestión de Agentes</li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Información del Agente</a></li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="card-title mb-2">Resumen</h4>
                        <hr>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Sección de la imagen y nombre del usuario -->
                                    <div class="col-md-4 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                                        <div class="mt-1 mb-1">
                                            <img alt="Foto"
                                                 th:src="@{'/uploads/fotosUsuarios/' + ${usuario.foto}}"
                                                 data-holder-rendered="true"
                                                 class="d-block rounded-circle"
                                                 src="/images/default.jpg"
                                                 onerror="this.onerror=null;this.src='/images/default.jpg';"
                                                 style="width: 150px; height: 150px; object-fit: cover;">
                                        </div>
                                        <strong class="mt-2 text-center text-dark" th:text="${usuario.nombre} + ' ' + ${usuario.apellido}"></strong>
                                    </div>
                                    <!-- Sección de los usuarios asignados -->
                                    <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-flex flex-column justify-content-center align-items-center">
                                        <div class="text-info">
                                            <i class="ri-user-fill" style="font-size: 36px;"></i> <!-- Cambia el tamaño según sea necesario -->

                                        </div>
                                        <small class="text-muted d-block mt-2 text-center">Usuarios asignados</small>
                                        <small class="text-muted mb-0 text-center" th:text="${resumenAgente[1]}"></small>
                                    </div>
                                    <!-- Sección de los pedidos finalizados -->
                                    <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-flex flex-column justify-content-center align-items-center">
                                        <div class="text-success">
                                            <i class="ri-checkbox-circle-fill " style="font-size: 36px;"></i>
                                        </div>
                                        <small class="text-muted d-block mt-2 text-center">Pedidos finalizados</small>
                                        <p class="text-muted mb-0 text-center" th:text="${resumenAgente[2]}">1</p>
                                    </div>
                                    <!-- Sección de la calificación -->
                                    <div class="col-12 col-lg-3 mb-3 mb-lg-0 d-flex flex-column justify-content-center align-items-center">
                                        <div class="text-warning">
                                            <i class="ri-star-s-fill " style="font-size: 36px;"></i>
                                        </div>
                                        <small class="text-muted d-block mt-2 text-center">Calificación</small>
                                        <p class="text-muted mb-0 text-center" th:text="${resumenAgente[3]}">1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Información laboral -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title mb-1">Información personal</h6>
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            <label class="col-sm-6 col-form-label">Documento de identidad</label>
                                            <div class="col-sm-6">
                                                <input class="form-control-plaintext" type="text" th:value="${usuario.dni}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-6 col-form-label">Correo electrónico</label>
                                            <div class="col-sm-6">
                                                <input class="form-control-plaintext" type="text" th:value="${usuario.correo}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-6 col-form-label">Districto</label>
                                            <div class="col-sm-6">
                                                <input class="form-control-plaintext" type="text" th:value="${usuario.distritoIddistrito.nombre}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title mb-1">Información laboral</h6>
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            <label class="col-sm-6 col-form-label">Código de aduanas</label>
                                            <div class="col-sm-6">
                                                <input class="form-control-plaintext" type="text" th:value="${usuario.codigoDespachador}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-6 col-form-label">Número de RUC</label>
                                            <div class="col-sm-6">
                                                <input class="form-control-plaintext" type="text" th:value="${usuario.ruc}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-6 col-form-label">Razón Social</label>
                                            <div class="col-sm-6">
                                                <input class="form-control-plaintext" type="text" th:value="${usuario.razonSocial}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--AQUI -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Porcentaje de calificación</h4>
                                <div id="pie_chart_2" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div><!--end card-->
                    </div>
                </div>
                <!-- end row -->
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © TRADO.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->
<script>
    var usuarioId = [[${usuarioId}]];  // Get the usuarioId passed from the controller
    console.log("Usuario ID:", usuarioId);
</script>



<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<script th:src="@{/libs/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/js/pages/apexcharts.init.js}"></script>
<script th:src="@{/js/pages/adminzonal.init.js}"></script>
<!-- End JAVASCRIPT BASE-->

<!--JAVASCRIPT NOTIFICACIONES-->
<span th:replace="~{AdminZonal/fragments/notificaciones-scripts :: js_Notificaciones}"></span>
<!-- End JAVASCRIPT NOTIFICACIONES-->
</body>

</html>