<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Cuenta | TRADO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/trado.png">
    <!-- CSS BASE -->
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <!-- End CSS BASE -->
    <style>
        .auth-logo-container {
            margin-top: 100px; /* Espacio superior para evitar que se mueva el contenido cuando aparece el error */
            margin-bottom: 20px; /* Espacio inferior para evitar que se mueva el contenido cuando aparece el error */
        }
        /* Ensure the right image takes up the full height and width of its column */
        .right-side-image {
            height: 100vh; /* Full viewport height */
            object-fit: cover; /* Maintain aspect ratio */
            width: 100%; /* Make sure the image covers the full width */
        }

        /* Responsive for smaller screens */
        @media (min-width: 992px) {
            .fixed-right-side {
                position: fixed; /* Fija la imagen del lado derecho para evitar que se corte */
                right: 0;
                top: 0;
                width: 66.66%; /* Dos tercios de la pantalla (ajustable) */
                height: 100%; /* Toda la altura */
                z-index: -1; /* Para que no se superponga sobre el contenido */
            }
        }
    </style>
</head>
<body class="auth-body-bg">
<div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4">
                <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                    <div class="w-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <div>
                                    <div class="text-center">
                                        <div class="auth-logo-container">
                                            <img src="/images/trado-dark.png" alt="" height="40" class="auth-logo logo-dark mx-auto">
                                        </div>
                                        <h4 class="font-size-18 mt-2">¡Bienvenido a Trado!</h4>
                                        <p class="text-muted">Registro de Nuevo Usuario</p>
                                    </div>

                                    <div class="p-2 mt-2">
                                        <form method="post" th:action="@{/crearCuenta}" th:object="${usuario}">
                                            <div class="auth-form-group-custom mb-2">
                                                <i class="ri-passport-line auti-custom-input-icon"></i>
                                                <label for="dni" class="fw-semibold">DNI</label>
                                                <input type="text" class="form-control" id="dni" th:field="*{dni}" placeholder="Ingresar DNI" required>
                                                <div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="text-danger"></div>
                                            </div>
                                            <div class="auth-form-group-custom mb-2">
                                                <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                <label for="nombre" class="fw-semibold">Nombres</label>
                                                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Ingresar nombres" required>
                                                <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></div>
                                            </div>
                                            <div class="auth-form-group-custom mb-2">
                                                <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                <label for="apellido" class="fw-semibold">Apellidos</label>
                                                <input type="text" class="form-control" id="apellido" th:field="*{apellido}" placeholder="Ingresar apellidos" required>
                                                <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="text-danger"></div>
                                            </div>
                                            <div class="auth-form-group-custom mb-2">
                                                <i class="ri-mail-line auti-custom-input-icon"></i>
                                                <label for="correo">Correo electrónico</label>
                                                <input type="email" class="form-control" id="correo" th:field="*{correo}" placeholder="Ingrese su correo" required>
                                                <div th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" class="text-danger"></div>
                                            </div>
                                            <div class="auth-form-group-custom mb-2">
                                                <i class="ri-community-line auti-custom-input-icon"></i>
                                                <label for="direccion" class="fw-semibold">Dirección</label>
                                                <input type="text" class="form-control" id="direccion" th:field="*{direccion}" placeholder="Ingresar dirección" required>
                                                <div th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="text-danger"></div>
                                            </div>
                                            <div class="auth-form-group-custom mb-2">
                                                <i class="ri-map-2-line auti-custom-input-icon"></i>
                                                <label for="distrito" class="fw-semibold">Distrito</label>
                                                <select name="distrito" id="distrito" class="form-control" required>
                                                    <option th:each="distrito : ${distritos}"
                                                            th:value="${distrito.nombre}"
                                                            th:text="${distrito.nombre}">
                                                    </option>
                                                </select>
                                            </div>
                                            <input type="hidden" name="rolIdrol" value="4">
                                            <div class="mt-4 text-center">
                                                <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar</button>
                                            </div>
                                        </form>
                                        <div class="mt-3 text-center">
                                            <p>¿Ya tienes una cuenta? <a href="/loginForm" class="fw-medium text-primary"> Inicia sesión </a></p>
                                            <p>© <script>document.write(new Date().getFullYear())</script> TRADO. Creado con <i class="mdi mdi-heart text-danger"></i> por Telesoft GT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-none d-lg-block fixed-right-side">
                <img src="/images/297451387_172154511984888_7597808842372857148_n.jpg" alt="" class="right-side-image">
            </div>
        </div>
    </div>
</div>
</body>
</html>