<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio | TRADO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <link rel="shortcut icon" href="/images/trado.png">
    <meta th:replace="~{Common/cssBase :: css_Base}">
    <style>
        .right-side-image {
            height: 100vh;
            object-fit: cover;
            width: 100%;
        }

        @media (max-width: 768px) {
            .right-side-image {
                display: none;
            }
        }
        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
        }
    </style>
</head>

<body class="auth-body-bg">
<div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4">
                <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                    <div class="w-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <div>
                                    <div class="text-center">
                                        <div>
                                            <img src="/images/trado-dark.png" alt="" height="60" class="auth-logo logo-dark mx-auto">
                                        </div>
                                        <h4 class="font-size-18 mt-4">¡Bienvenido a Trado!</h4>
                                        <p class="text-muted">Inicie sesión para estar más cerca de nuestros productos y promociones</p>
                                    </div>

                                    <div class="p-2 mt-5">
                                        <!-- Formulario de inicio de sesión -->
                                        <form th:action="@{/processLogin}" method="post">
                                            <!-- Mostrar mensaje de error si las credenciales son incorrectas -->
                                            <div th:if="${loginError}" class="error-message">
                                                <p th:text="${loginError}"></p>
                                            </div>

                                            <div class="mb-3 auth-form-group-custom mb-4">
                                                <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                <label for="username" class="fw-semibold">Nombre de Usuario</label>
                                                <input type="text" class="form-control" id="username" placeholder="Ingresar usuario" name="correo" required autofocus>
                                            </div>

                                            <div class="mb-3 auth-form-group-custom mb-4">
                                                <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                <label for="password">Contraseña</label>
                                                <input type="password" class="form-control" id="password" placeholder="Ingresar contraseña" name="password">
                                            </div>

                                            <div class="mt-4 text-center">
                                                <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <a href="/sistema/PassRestore" class="text-muted"><i class="mdi mdi-lock me-1"></i>¿Olvidaste tu contraseña?</a>
                                            </div>
                                        </form>

                                        <div class="mt-5 text-center">
                                            <p>¿Aún no tienes una cuenta? <a href="/sistema/CreateAcc" class="fw-medium text-primary"> Registrarse </a></p>
                                            <p>© <script>document.write(new Date().getFullYear())</script> TRADO. Creado con <i class="mdi mdi-heart text-danger"></i> por Telesoft GT</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Imagen del lado derecho -->
            <div class="col-lg-8 d-none d-lg-block">
                <img src="/images/297451387_172154511984888_7597808842372857148_n.jpg" alt="" class="right-side-image">
            </div>
        </div>
    </div>
</div>
<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->
</body>
</html>