<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<!-- @thymesVar id="usuarioAutenticado" type="com.app.tradogt.entity.Usuario" -->
<header>
    <script src="https://js.pusher.com/8.0.1/pusher.min.js"></script>
</header>
<body>
<header th:fragment="nav_bar" id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box" style="background-color: #221f1f;">
                <a href="/agente/inicio" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img th:src="@{../images/logo-sm-dark.png}" alt="logo-sm-dark" height="22">
                                </span>
                    <span class="logo-lg">
                                    <img th:src="@{../images/logo-dark.png}" alt="logo-dark" height="20">
                                </span>
                </a>

                <a href="/agente/inicio" class="logo logo-light">
                                <span class="logo-sm">
                                    <img th:src="@{../images/trado.png}" alt="logo-sm-light" height="33">
                                </span>
                    <span class="logo-lg">
                                    <img th:src="@{../images/trado-light.png}" alt="logo-light" height="40">
                                </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                <i class="ri-menu-2-line align-middle"></i>
            </button>

            <div class="d-flex justify-content-center align-items-center">
                <span class="text-center" th:text="${usuarioAutenticado.rolIdrol.nombre.toUpperCase()}"></span>
            </div>

        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ri-notification-3-line"></i>
                    <span class="noti-dot"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" style="width: 400px;" aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0">Notificaciones</h6>
                            </div>
                            <div class="col-auto">
                                <a href='/agente/notificacionesTotales' class="small">Ver Todo</a>
                            </div>
                        </div>
                    </div>
                    <div id="notification-container" data-simplebar style="max-height: 230px; overflow-y: auto; pointer-events: none;">
                        <!-- Aquí se insertarán las notificaciones dinámicas -->
                    </div>
                    <!--<div class="p-2 border-top">
                        <div class="d-grid">
                            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                <i class="mdi mdi-arrow-right-circle me-1"></i> Ver más..
                            </a>
                        </div>
                    </div>-->
                </div>
            </div>
            <!-- User dropdown -->
            <div class="dropdown d-inline-block user-dropdown">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user"
                         th:src="@{'/uploads/fotosUsuarios/' + ${usuarioAutenticado.foto}}"
                         src="/images/default.jpg"
                         onerror="this.onerror=null;this.src='/images/default.jpg';"
                         alt="Header Avatar">
                    <!-- Mostrar el nombre del usuario autenticado -->
                    <span class="d-none d-xl-inline-block ms-1" th:text="${usuarioAutenticado.nombre}+' '+${usuarioAutenticado.apellido}" ></span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="/agente/perfil"><i class="ri-user-line align-middle me-1"></i> Mi perfil</a>
                    <a class="dropdown-item d-block" href="/agente/contraseña"><i class="ri-settings-2-line align-middle me-1"></i>Cambiar contraseña</a>
                    <div class="dropdown-divider"></div>
                    <div th:if="${session.impersonation}">
                        <form th:action="@{/superadmin/exit}" method="post" style="display: inline;">
                            <button type="submit" class="dropdown-item text-danger" style="border: none; background: none;">
                                <i class="ri-arrow-go-back-line align-middle me-1 text-danger"></i>Finalizar Suplantación
                            </button>
                        </form>
                    </div>
                    <div th:unless="${session.impersonation}" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" style="display: inline;">
                            <button type="submit" class="dropdown-item text-danger" style="border: none; background: none;">
                                <i class="ri-shut-down-line align-middle me-1 text-danger"></i> Cerrar sesión
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
<!--<script th:inline="javascript">
    // Inicializar Pusher cuando el contenido esté cargado
    document.addEventListener("DOMContentLoaded", function () {
        const pusher = new Pusher("3e94d4390b9041cae871", {
            cluster: "us2",
            encrypted: true
        });

        // Obtén el ID del usuario autenticado desde el backend
        //const userId = /*[[${usuarioAutenticado.id}]]*/ 'default';
        //const userId = /*[[${usuarioAutenticado.id}]]*/ || 'default';
        const userId = 4;
        console.log(userId);
        const channel = pusher.subscribe("ordenes-" + userId);

        // Escuchar eventos de notificaciones
        channel.bind("orden-actualizada", function (data) {
            const notificationContainer = document.getElementById("notification-container");

            // Crear una nueva notificación
            const notification = document.createElement("div");
            notification.className = "dropdown-item text-wrap";
            notification.innerHTML = `
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h6 class="m-0">${data.message}</h6>
                        <small class="text-muted">Order ID: ${data.orderId}</small>
                    </div>
                </div>
            `;

            // Agregar la notificación al inicio del contenedor
            notificationContainer.prepend(notification);

            // Mostrar el punto rojo de notificación si no está visible
            const notiDot = document.querySelector('.noti-dot');
            if (notiDot) {
                notiDot.style.display = 'inline';
            }
        });
    });
</script>-->
</body>
</html>