<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="side_bar" class="vertical-menu" style="background-color: #221f1f;">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
          <a href="/agente/inicio" class="waves-effect">
            <i class="ri-dashboard-line"></i>
            <span>Inicio</span>
          </a>
        </li>

        <li class="menu-title">Gestión de comrpras</li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-earth-line"></i>
            <span>Órdenes de compra</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/agente/allOrders">Todas las órdenes</a></li>
            <li><a href="/agente/sinAsignarOrders">Órdenes sin asignar</a></li>
            <li><a href="/agente/pendingOrders">Órdenes pendientes</a></li>
            <li><a href="/agente/enProcesoOrders">Órdenes en proceso</a></li>
            <li><a href="/agente/solveOrders">Órdenes resueltas</a></li>
          </ul>
        </li>


        <li class="menu-title">Gestión de usuarios</li>

        <!--
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-clipboard-line"></i>
            <span>Usuarios</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/agente/allUsers">Todos los usuarios</a></li>
            <li><a href="/agente/habilitadosUsers">Usuarios habilitados</a></li>
            <li><a href="/agente/baneadosUsers">Usuarios baneados</a></li>
          </ul>
        </li>
        -->
        <li>
          <a href="/agente/allUsers" class="waves-effect">
            <i class="ri-dashboard-line"></i>
            <span>Todos los usuarios</span>
          </a>
        </li>
        <!--
        <li>
          <a href="/agente/chat" class="waves-effect">
            <i class="ri-chat-1-line"></i>
            <span>Chat</span>
          </a>
        </li>-->

        <li class="menu-title">Sistema</li>

        <li>
          <a href="/agente/faq" class=" waves-effect">
            <i class="ri-information-line"></i>
            <span>Ayuda</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
</body>
</html>